@charset "UTF-8";

.su-button {
  @include button-primary;
}

.su-button--secondary {
  @include button-secondary;
}

.su-button--big {
  @include button-big;
}

.su-link {
  &--action {
    &::after {
      @include margin(null 0 null null);
    }
  }
}

.ood-cta {
  color: $su-color-bay-dark;
  font-weight: $su-font-semi-bold;
  font-size: 2rem;

  &__button {
    @include padding(1.1rem 2rem 1.2rem);
    @include sans;
    display: inline-block;
    width: auto;
    border: 0;
    font-weight: $su-font-regular;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &--small {
      @include padding(1rem 2rem);
      font-size: 1.6rem;
    }

    // OOD Primary Button
    &--primary {
      background-color: $su-color-bay-dark;
      color: $su-color-white;

      &:hover,
      &:focus {
        background-color: $su-color-palo-alto-dark;
        color: $su-color-white;

        &::after {
          background-color: $su-color-white;
        }
      }
    }

    // OOD Secondary Button
    &--secondary {
      background-color: $su-color-white;
      color: $su-color-palo-alto-dark;
      box-shadow: inset 0 0 0 2px $su-color-palo-alto-dark;

      &:hover,
      &:focus {
        background-color: $su-color-white;
        color: $su-color-palo-alto-dark;
        box-shadow: inset 0 0 0 2px $su-color-black;
      }
    }

    // OOD Ghost Button (For use on dark backgrounds)
    &--ghost {
      color: $su-color-white;
      background-color: transparent;
      box-shadow: inset 0 0 0 1px $su-color-white;

      &:hover,
      &:focus {
        color: $su-color-white;

        &::after {
          background-color: $su-color-white;
        }
      }
    }
  }
}