@charset "UTF-8";

.su-button {
  @include button-primary;
}

.su-button--secondary {
  @include button-secondary;
}

// Finetuning link icon styles from Decanter
.su-link {
  color: $su-color-digital-red;

  &--action {
    &::after {
      @include margin(null 0 null null);
    }
  }

  &:hover,
  &:focus {
    color: $su-color-sky-dark;
    text-decoration: underline;
  }
}

.ood-cta {
  font-weight: $su-font-semi-bold;
  font-size: 1.8rem;

  @include grid-media('md') {
    font-size: 2rem;
  }

  &__link {
    color: $su-color-digital-red;

    &:hover,
    &:focus {
      color: $su-color-sky-dark;
    }

    &.ood-cta__link-gradient {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
    }
  }



  &__button {
    @include padding(1.1rem 3rem 1.2rem);
    @include sans;
    display: inline-block;
    width: auto;
    border: 0;
    font-weight: $su-font-regular;
    text-decoration: none;
    transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &--medium {
      @include padding(1.1rem 3rem 1.2rem);
      font-size: 2rem;

      @include grid-media('md') {
        @include padding(1.4rem 3.4rem);
        font-size: 2.4rem;
      }
    }

    &--large {
      @include padding(1.6rem 3rem);
      font-size: 2.2rem;

      @include grid-media('md') {
        @include padding(2rem 3.6rem);
        font-size: 2.8rem;
      }
    }

    // OOD Primary Button
    &--primary {
      background-color: $su-color-bay-dark;
      color: $su-color-white;

      &:hover,
      &:focus {
        background-color: $su-color-palo-alto;
        color: $su-color-white;

        &::after {
          background-color: $su-color-white;
        }
      }
    }

    // OOD Secondary Button
    &--secondary {
      background-color: $su-color-white;
      color: $su-color-bay-dark;
      box-shadow: inset 0 0 0 1px $su-color-bay-dark;

      &:hover,
      &:focus {
        background-color: $su-color-bay-dark;
        color: $su-color-white;
        box-shadow: inset 0 0 0 1px $su-color-bay-dark;
      }
    }

    // OOD Ghost Button (For use on dark backgrounds)
    &--ghost {
      color: $su-color-white;
      background-color: transparent;
      box-shadow: inset 0 0 0 1px $su-color-white;
      transition: box-shadow 0.25s ease-in;

      &:hover,
      &:focus {
        color: $su-color-white;
        box-shadow: inset 0 0 0 3px $su-color-white;

        &::after {
          background-color: $su-color-white;
        }
      }
    }
  }
}

// CTA Link Group
.cta-group {
  .ood-cta {
    @include grid-media-max('sm') {
      font-size: 0.9em;
    }

    &__button {
      @include grid-media-max('sm') {
        @include padding(0.7em);

        &::after {
          width: 10px; // Use exact pixel unit to avoid jaggedness for SVG
          height: 10px;
        }
      }
    }
  }

  // Add margin-right only for the "adjacent to each other" option
  &.su-flex-row {
    .ood-cta {
      @include margin(null 0.4em 1em);
    }
  }

  &.su-flex-col {
    .ood-cta {
      @include margin(null null 1em);
    }
  }
}
