@charset "UTF-8";

// Styles for WYSIWYG Content - text, link, vertical rhythms etc.
// Common styles for Single Column Content and Accordion item WYSYWYG.

.ood-single-column-content__wrapper,
.ood-accordion__content {
  width: 100%;
  overflow-wrap: break-word;

  > div {
    p,
    ol,
    ul {
      @include ood-big-paragraph;
      @include margin(null null 1.6em);
    }

    li {
      p {
        @include margin(null null 0.4em);
      }
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      @include serif;
      @include margin(null null 0.7em);
      letter-spacing: 0;
      clear: both;

      a {
        @include link-icon(caret-right, 0.5em, right, 0.06em);

        &::after {
          background-color: $su-color-digital-red;
        }

        &:hover,
        &:focus {
          text-decoration: underline;

          &::after {
            background-color: $su-color-sky-dark;
          }
        }
      }
    }

    //Vertical rhythm
    h2 {
      &:not(:first-child) {
        @include margin(1.8em null null);
      }
    }

    h3,
    h4,
    h5,
    h6 {
      &:not(:first-child) {
        @include margin(1.6em null null);
      }
    }

    h1 + h2,
    h2 + h3,
    h3 + h4,
    h4 + h5 {
      &:not(:first-child) {
        @include margin(1em null null);
      }
    }

    a {
      .ood-cta__link {
        text-decoration: none;
        display: inline-block; // Only way to remove the underline due to the way the style classes are applied in the WYSIWYG

        &::after {
          background-color: $su-color-digital-red;
        }
      }

      &:hover,
      &:focus {
        .ood-cta__link {
          color: $su-color-sky-dark;
          text-decoration: underline;

          &::after {
            background-color: $su-color-sky-dark;
            transform: translateX(0.2em);
          }
        }
      }
    }
  }
}

.ood-single-column-content {
  &__wrapper {
    > div {
      > * {
        &:first-child {
          @include margin(-0.26em null null);
        }

        &:last-child {
          @include margin(null null 0); // last item in the WYSIWYG
        }
      }

      blockquote {
        @include responsive-spacing('padding', null 3);
        @include margin(5em 0 null 0);
        @include serif;

        > p {
          @include modular-typography(2);
        }

        &::before {
          font-size: 6em;
          line-height: 0.2;
          content: '\201C';
          display: block;
          color: $su-color-palo-verde-light;
          font-weight: $su-font-bold;
        }
      }
    }
  }
}
