@charset "UTF-8";

.search-hits {
  &-item {
    border-bottom: 1px solid $su-color-black-40;

    // the search hit title
    > h2 {
      @include link-icon(caret-right, 12px, right, 0.06em);
      @include modular-typography(1);
      @include margin(null null 0.8em);
      display: block;
      text-decoration: none;

      &::after {
        background-color: $su-color-digital-red;
      }
    }

    // the search hit snippet
    > p {
      color: inherit;
    }
  }

  &-no-hits {
    &-title {
      @include modular-typography(1);
      display: block;
      margin-bottom: 1.2rem;
      white-space: pre-line;

      @include grid-media("sm") {
        font-size: 3.6rem;
      }
    }

    &-text {
      font-size: 1.8rem;

      @include grid-media("sm") {
        @include modular-typography(1);
      }
    }

    + .search-pagination {
      display: none;
    }
  }
}
