@charset "UTF-8";

.search-hits {
  &-item {
    border-bottom: 1px solid $su-color-black-40;

    // the search hit title
    > h2 {
      @include modular-typography(1);
      @include margin(null null 0.8em);
      display: block;
      text-decoration: none;

      > a {
        @include link-icon(caret-right, 12px, right, 0.06em);

        &::after {
          background-color: $su-color-digital-red;
        }

        &:hover,
        &:focus {
          &::after {
            background-color: $su-color-sky-dark;
          }
        }
      }
    }

    // the search hit snippet
    > p {
      color: inherit;
    }
  }

  &-no-hits {
    &-title {
      @include modular-typography(1);
      display: block;
      margin-bottom: 1.2rem;
      white-space: pre-line;

      @include grid-media('md') {
        @include modular-typography(2);
      }

      @include grid-media('lg') {
        @include modular-typography(3);
      }
    }

    &-text {
      @include ood-big-paragraph;
    }

    + .search-pagination {
      display: none;
    }
  }
}
