@charset "UTF-8";

.search-overlay {
  display: none;
  height: 100%;
  width: 100vw;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  color: $su-color-white;
  pointer-events: none;
  background-color: rgba(0, 41, 44, 0.9);
  opacity: 0;

  &.visible {
    display: flex;
    pointer-events: all;
    backdrop-filter: blur(5px);
    opacity: 1;
  }
}

.search-header {
  display: flex;
  justify-content: flex-end;

  @include grid-media("sm") {
    margin-bottom: 20rem;
  }
}

.search-body {
  width: 100%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;

  .search-input {
    margin-bottom: 3rem;

    &-submit-button {
      transition: background-color 0.25s ease-out;

      &:hover,
      &:focus {
        background-color: $su-color-plum;
      }
    }

    .react-autosuggest {
      &__input {
        border-bottom-color: $su-color-white;
        border-radius: 0;

        @include grid-media("md") {
          @include modular-typography(4);
          padding-bottom: 0.6rem;
        }

        &::placeholder {
          color: $su-color-black-40;
        }
      }

      &__suggestions-container {
        background-color: $su-color-palo-alto-dark;
        border: 1px solid $su-color-white;
        border-top: 0;
      }

      &__suggestion {
        &--highlighted {
          color: $su-color-palo-alto-dark;
          background-color: $su-color-bay-light;
        }
      }
    }

    &-clear-text {
      color: $su-color-white;
      transition: color 0.25s ease-out;
    }

    &-clear-button {
      @include grid-media("sm") {
        right: 9.3rem;
      }

      &:hover,
      &:focus {
        .search-input-clear-text {
          color: $su-color-digital-red-light;
        }
      }
    }

    &-clear-icon {
      background: url("#{$su-image-path}/close-white.svg") no-repeat center/50%;
    }

    @include grid-media("sm") {
      &-submit-button {
        height: 6.9rem;
        width: 6.9rem;

        &-icon {
          height: 32px;
          width: 32px;
          background-size: 100%;
        }
      }
    }
  }
}

.search-icon {
  width: 10%;
}

.search-close-button {
  @include padding(0.8rem 1.2rem);
  @include modular-typography(1);
  background-color: transparent;
  color: $su-color-white;
  border: 0;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }

  // FontAwesome Icon X
  i {
    @include margin(null null null 1rem);
    position: relative;
    top: 0.2rem;
    font-size: 1.1em;
  }
}

.search-error {
  font-size: 2.4rem;
  font-weight: $su-font-bold;
  @include serif;
  visibility: hidden;
  pointer-events: none;
  margin-bottom: 4.5rem;

  &--visible {
    visibility: visible;
    pointer-events: all;
  }
}

.search-footer {
  padding-bottom: 5rem;
}

.search-footer-headline {
  font-size: 2.5rem;
  padding-bottom: 20px;
}

.search-footer-cols {
  @include grid-media("md") {
    display: flex;
  }
}

.search-footer-col {
  &:first-child {
    margin-bottom: 4rem;
  }

  @include grid-media("md") {
    flex-grow: 1;

    &:first-child {
      margin-right: 1rem;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }
}

.search-category-title {
  text-transform: uppercase;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
}

.search-categories {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.search-category-link {
  margin-bottom: 1rem;
}
