@charset "UTF-8";

.search-pagination {
  list-style-type: none;
  display: flex;
  width: 100%;
  max-width: 55rem;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  &-item {
    @include serif;
    font-size: 2.4rem;
    font-weight: $su-font-bold;
    color: $su-color-digital-red;
    padding: 0.4rem;
    display: inline-block;
    margin: 0;
    position: relative;

    a {
      text-decoration: none;
      font-weight: $su-font-bold;
      font-size: 2.4rem;
    }

    &:not(:last-child) {
      margin-right: 0.8rem;

      @include grid-media("sm") {
        margin-right: 1.6rem;
      }

      @include grid-media("md") {
        margin-right: 3.6rem;
      }
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      pointer-events: none;
      bottom: -0.4rem;
      left: 0;
      width: 100%;
      height: 0.4rem;
    }

    &:hover {
      cursor: pointer;

      &::after {
        background-color: currentColor;
      }
    }

    &--text {
      text-transform: uppercase;
      @include sans;

      a {
        font-weight: $su-font-semi-bold;
        font-size: 1.6rem;
      }
    }

    &--placeholder {
      color: $su-color-black-true;

      &::after {
        display: none;
      }

      &:hover {
        cursor: default;
      }
    }

    &--current {
      color: $su-color-black-true;

      &::after {
        background-color: currentColor;
      }
    }

    &--mobile-hidden {
      @include grid-media-max("sm") {
        display: none;
      }
    }
  }
}
