@charset "UTF-8";

// Header search button styles

.ood-header__search-button {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid $su-color-black-30;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 16px;

  @include grid-media-max('sm') {
    top: -0.2rem;
  }

  @include grid-media("md") {
    margin-right: 24px;
  }

  @include grid-media("lg") {
    top: -0.6rem;
    margin-right: 0;
  }

  &-icon {
    background-size: 100%;
    background-image: url("#{$su-image-path}/icon-search.svg");
    background-repeat: no-repeat;
    height: 18px;
    width: 18px;
  }

  &:hover,
  &:focus {
    background-color: $su-color-black-10;
  }
}
