@charset "UTF-8";

// Header search button styles
.ood-header {
  &__search-button {
    position: relative;
    height: 4rem;
    min-width: 4rem;
    cursor: pointer;
    border-radius: 5rem;
    border: .1rem solid $su-color-black-30;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    margin-right: 1.6rem;
    color: $su-color-digital-red;
    padding-right: 2rem;
    padding-left: 2rem;

    @include grid-media("lg") {
      font-size: 1.8rem;
    }

    @include grid-media-max('sm') {
      top: -0.2rem;
    }

    @include grid-media("md") {
      margin-right: 2.4rem;
    }

    @include grid-media("lg") {
      top: -0.6rem;
      margin-right: 0;
    }

    &:hover,
    &:focus {
      background-color: $su-color-black-10;
    }
  }

  &__search-button-icon {
    @include link-icon(icon-search, 0.8em, false, -0.18em);
    margin-left: .7rem;
    display: flex;

    &::after {
      background-color: $su-color-digital-red;
      width: 1.6rem;
      height: 1.6rem;
      margin: 0;
    }

    &:hover,
    &:focus {
      &::after {
        background-color: $su-color-digital-red;
      }
    }
  }
}
