@charset "UTF-8";

// Header search button styles

.ood-header-search-button {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #c0c0bf;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-right: 16px;

  @include grid-media("md") {
    margin-right: 24px;
  }

  @include grid-media("lg") {
    margin-right: 0;
  }

  &-icon {
    background: url("#{$su-image-path}/icon-search.svg") no-repeat 0 0;
    background-size: contain;
    background-position: center;
    background-size: 100%;
    height: 17px;
    width: 17px;
  }

  &:hover,
  &:focus {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
  }
}
