@charset "UTF-8";

// Styles for OOD Local Header

.ood-header {
  @include box-shadow($depth: 'shallow', $stroke: 0);
  position: relative;
  display: block;
  max-width: 100%;
  z-index: 130;

  @include grid-media('md') {
    border-top-width: 10px;
    border-top-style: solid;
  }

  .su-lockup {
    @include responsive-spacing('margin', null null 0);

    @include grid-media-max('sm') {
      @include margin(get-responsive-spacing-value(1, 'mobile') null null);
    }

    @include grid-media-only('md') {
      @include margin(get-responsive-spacing-value(1, 'tablet') null null);
    }
  }

  .ood-header__submenu-container {
    @include margin(null auto);

    @include grid-media-max('sm') {
      background-color: $su-color-cardinal-red;

      a {
        color: $su-color-white;
      }
    }

    // Only apply the centered container widths for MD and above
    @include grid-media('md') {
      max-width: calc(100% - #{2 * map-get($su-screen-margins, 'md')});
      width: calc(100% - #{2 * map-get($su-screen-margins, 'md')});
    }

    @include grid-media('lg') {
      max-width: calc(100% - #{2 * map-get($su-screen-margins, 'lg')});
      width: calc(100% - #{2 * map-get($su-screen-margins, 'lg')});
    }

    @include grid-media('xl') {
      max-width: calc(100% - #{2 * map-get($su-screen-margins, 'xl')});
      width: calc(100% - #{2 * map-get($su-screen-margins, 'xl')});
    }

    @include grid-media('2xl') {
      max-width: 1500px;
      width: calc(100% - 2 * map-get($su-screen-margins, '2xl'));
    }
  }
}
