@charset "UTF-8";

// Styles for OOD Local Header

.ood-header {
  @include box-shadow($depth: 'shallow', $stroke: 0);
  position: relative;
  display: block;
  max-width: 100%;
  z-index: 1000;

  .su-lockup {
    @include modular-spacing('padding', null null 0);
  }

  .ood-cta__button {
    @include padding(1rem 2.2rem 1.3rem 2.6rem);
  }
}
