@charset "UTF-8";

// The OOD global header which includes the logo lockup, main navigation, top navigation and skip link

.ood-global-header {
  @include modular-spacing('padding', 1 null);
  @include box-shadow($depth: 'shallow', $stroke: 0);
  position: relative;
  display: block;
  max-width: 100%;
}

.centered-container {
  @include centered-column;
}

