@charset "UTF-8";

// Styles for the Curated Story layout component

.ood-curated-stories {
  &__other {
    .ood-story-card {
      height: 100%;
    }

    &.su-flex-3-col {
      @include grid-media-max('md') {
        display: block;

        > * {
          width: 100%;
          max-width: 100%;
        }
      }
    }
  }
}

.story-overview-page {
  .ood-curated-stories__other {
    &.su-flex-3-col {
      @include grid-media-only('lg') {
        > * {
          @include flex-column(6, $su-gutter-lg);
        }
      }
    }
  }
}
