@charset "UTF-8";

// Filtering mechanism for the Area to Support Cards

.filtering-grid {
  .ood-tile-card {
    visibility: visible;
    height: 300px;
    width: 30%;
    float: left;
    opacity: 1;
    transition: width 0.8s ease-out, height 1s ease-out, visibility 1s ease-out, opacity 1s ease-out;
  }

  input[type="radio"][id="athletics"]:checked ~ div article:not([data-support="athletics"]) {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    opacity: 0;
    visibility: hidden;
  }
}