@charset "UTF-8";

.grid-3-column {
  @include responsive-grid-gap;
  display: grid;
  grid-template-columns: 1fr;

  @include grid-media('sm') {
    @include ie-autocolumn(2);
    grid-template-columns: 1fr 1fr;
  }

  @include grid-media('lg') {
    @include ie-autocolumn(3);
    grid-template-columns: 1fr 1fr 1fr;
  }
}
