@charset "UTF-8";

.section {
  &__title {
    @include margin(null auto);
    @include modular-typography(4);
    font-family: $su-font-serif;
    font-weight: $su-font-regular;
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0; // Don't need to tighten up spacing for serif titles

    &::before,
    &::after {
      content: '';
      border-top: 1px solid;
      margin: 0 100px 0 0;
      flex: 1 0 40px;
    }

    &:after {
      margin: 0 0 0 100px;
    }
  }

  &__header {
    @include modular-spacing('margin', null null 3);
  }
}

.centered-container-80 {
  @include margin(null auto);
  max-width: calc((100% - 40px));
  width: calc((100% - 40px));

  @media only screen and (min-width: 576px) {
    max-width: calc((100% - 60px));
    width: calc((100% - 60px));
  }

  @media only screen and (min-width: 768px) {
    max-width: calc((100% - 100px));
    width: calc((100% - 100px));
  }

  @media only screen and (min-width: 992px) {
    max-width: calc((100% - 160px));
    width: calc((100% - 160px));
  }

  @media only screen and (min-width: 1200px) {
    max-width: calc((100% - 200px) * 0.8);
    width: calc((100% - 200px) * 0.8);
  }

  @media only screen and (min-width: 1500px) {
    max-width: calc((100% - 200px) * 0.8);
    width: calc((100% - 200px) * 0.8);
  }

  @media only screen and (min-width: 1700px) {
    max-width: calc(1500px * 0.8);
    width: calc(1500px * 0.8);
  }
}