@charset "UTF-8";

// Styles for Single Column WYSIWYG Content with different content width options

.ood-single-column-content {
  &__wrapper {
    @include margin(null auto);
    width: 100%;
    overflow-wrap: break-word;

    > div {
      > * {
        &:last-child {
          @include margin(null null 0); // last item in the WYSIWYG
        }
      }
    }
  }

  p,
  ol,
  ul {
    @include ood-big-paragraph;
    @include margin(null null 1.6em);
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include serif;
    letter-spacing: 0;
  }

  // Vertical rhythm
  h2 {
    &:not(:first-child) {
      @include margin(1.8em null null);
    }
  }

  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      @include margin(1.6em null null);
    }
  }

  h1 + h2,
  h2 + h3,
  h3 + h4,
  h4 + h5 {
    &:not(:first-child) {
      @include margin(1em null null);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include margin(null null 0.7em);
    clear: both;
  }
}
