@charset "UTF-8";

// Calculate fluid font size over a device width range when one specifies min and max font sizes.

@mixin fluid-type($min-font-size, $max-font-size, $min-viewport-width, $max-viewport-width) {

  $_font_size_range: strip-unit($max-font-size - $min-font-size);
  $_viewport_width_range: strip-unit($max-viewport-width - $min-viewport-width);

  // Formula from https://css-tricks.com/books/volume-i/scale-typography-screen-size/
  font-size: calc(#{$min-font-size} + (#{$_font_size_range} * ((100vw - #{$min-viewport-width}) / #{$_viewport_width_range})));
}
