@charset "UTF-8";

// Content font size for OOD site

@mixin ood-big-paragraph {
  font-size: 1.8rem;
  line-height: 1.5;

  @include grid-media('md') {
    font-size: 2.2rem;
  }

  @include grid-media('2xl') {
    font-size: 2.3rem;
    line-height: 1.6;
  }
}
