@charset "UTF-8";

// Content font size for OOD site

@mixin ood-card-text {
  font-size: 1.6rem;
  line-height: 1.3;

  @include grid-media('md') {
    font-size: 1.9rem;
  }

  @include grid-media('2xl') {
    font-size: 2rem;
  }
}
