.endowed-positions {
  &__nav {
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    > div {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url("https://give.stanford.edu/down.png") no-repeat calc(100% - 18px) center;
    border: 1px solid #D2D3D4;
    border-radius: 3px;
    color: #2E2D29;
    height: 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    line-height: 2.5rem;
    margin: 0;
    max-width: 100%;
    min-width: 100%;
    padding: 0 38px 0 18px;
    width: 100%;
  }

  &__input {
    box-sizing: border-box;
    border: 1px solid #D2D3D4;
    border-radius: 3px;
    font-size: 18px;
    height: 40px;
    padding: 0 20px;
    width: 100%;
  }

  &__fieldset {
    border: 0;
    flex: 1 1 auto;
    margin: 0 5px 20px;
    padding: 0;
    position: relative;
  }

  &__button {
    background: #006B81;
    border: 1px solid #007C92;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 10px 20px rgba(0, 0, 0, 0.15);
    color: #FFF;
    text-decoration: none;
  }

  &__label {
    color: #2E2D29;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin: 0 0 15px;
    text-align: left;
  }

  &__paginate {
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    max-width: 750px;

    & > a {
      text-decoration: none;
    }
  }

  &__search-button {
    bottom: 12px;
    font-size: 1.6rem;
    position: absolute;
    right: 20px;
  }

  &__search-results {
    & > dt:hover {
      cursor: pointer;
    }

    & > dd {
      border-bottom: 1px solid #000;
      margin: 0 0 1em;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__footer {
    margin: 40px 0;
  }
}
