@charset "UTF-8";

.su-bg {
  @each $key, $color in $ood-colors {
    &-#{$key} {
      background: $color;
    }
  }

  &-hocus {
    @each $key, $color in $ood-colors {
      &-#{$key} {
        &:hover,
        &:focus {
          background: $color;
        }
      }
    }

    &-transparent {
      &:hover,
      &:focus {
        background: transparent;
      }
    }
  }

  &-transparent {
    background: transparent;
  }
}

.su-border-gr {
  @each $key, $color in $ood-colors {
    &-#{$key} {
      background-clip: padding-box;
      border: solid .5rem transparent;

      &:before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
        margin: -.5rem;
        border-radius: inherit;
        background: $color;
      }
    }
  }
}
