@charset "UTF-8";

.border-top-5px {
  border-top-width: 5px;
  border-top-style: solid;
}

.border-color {
  &-cardinal-red {
    border-color: $su-color-cardinal-red;
  }

  &-bright-red {
    border-color: $su-color-bright-red;
  }

  &-dark {
    border-color: $su-color-black;
  }
}