@charset "UTF-8";

.before-color {
  &-palo-verde-light {
    &::before {
      color: $su-color-palo-verde-light;
    }
  }

  &-lagunita {
    &::before {
      color: $su-color-lagunita;
    }
  }

  &-cardinal-red {
    &::before {
      color: $su-color-cardinal-red;
    }
  }
}