@charset "UTF-8";

// Columns, rows, grids, widths, alignment related

.su-align {
  &-items {
    &-start {
      align-items: flex-start;
    }

    &-end {
      align-items: flex-end;
    }

    &-center {
      align-items: center;
    }

    &-stretch {
      align-items: stretch;
    }

    &-baseline {
      align-items: baseline;
    }
  }
}

.su-justify {
  &-content {
    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }
  }
}

.su-width {
  @include grid-media('lg') {
    &-100 {
      width: 100%;
    }

    &-75 {
      width: 75%;
    }

    &-60 {
      width: 60%;
    }
  }
}

.su-flex {
  &-row {
    flex-direction: row;
  }

  &-row-reverse {
    flex-direction: row-reverse;
  }

  &-wrap {
    flex-wrap: wrap;
  }

  &-col {
    flex-direction: column;
  }

  &-2-col {
    > * {
      @include responsive-flex-column(6);
    }
  }

  &-3-col {
    > * {
      @include responsive-flex-column(4);
    }
  }

  &-1-col,
  &-2-col,
  &-3-col {
    display: block;

    @include grid-media('lg') {
      display: flex;
    }

    > * {
      @include grid-media-max('md') {
        width: 100%;
        max-width: 100%;
      }
    }
  }
}
