@charset "UTF-8";

// Columns, rows, grids related

.align {
  &-items {
    &-start {
      align-items: flex-start;
    }

    &-end {
      align-items: flex-end;
    }

    &-center {
      align-items: center;
    }

    &-stretch {
      align-items: stretch;
    }
  }
}
