@charset "UTF-8";

// Modular Typography
// Some of the larger ones might need to be scale down manually for mobile breakpoints

.su-mod-type {
  // Step 8, 9 used only for the Hero component splash text (small and large options
  &-9 {
    @include modular-typography(9);

    @include grid-media-only('lg') {
      font-size: 10rem;
    }
  }

  &-8 {
    @include modular-typography(8);
  }

  &-8,
  &-9 {
    @include grid-media-only('md') {
      font-size: 7.2rem;
    }

    @include grid-media-max('sm') {
      font-size: 5rem;
    }
  }

  &-7 {
    @include modular-typography(7);
  }

  &-6 {
    @include modular-typography(6);
  }

  &-5 {
    @include modular-typography(5);

    @include grid-media-only('md') {
      font-size: 4.2rem;
    }

    @include grid-media-max('sm') {
      font-size: 3.6rem;
    }

    @include grid-media-between('md', 'lg') {
      font-size: 4.2rem;
    }
  }

  &-4 {
    @include modular-typography(4);

    @include grid-media-max('sm') {
      font-size: 3.2rem;
    }
  }

  &-3 {
    @include modular-typography(3);
  }

  &-2 {
    @include modular-typography(2);
  }

  &-1 {
    @include modular-typography(1);
  }
}
