@charset "UTF-8";

// Modular Typography
// Some of the larger ones might need to be scale down manually for mobile breakpoints

.su-mod-type {
  &-9 {
    @include modular-typography(9);

    @include grid-media-only('md') {
      font-size: 10rem;
    }

    @include grid-media-max('sm') {
      font-size: 7.2rem;
    }
  }

  &-8 {
    @include modular-typography(8);

    @include grid-media-only('md') {
      font-size: 7.2rem;
    }

    @include grid-media-max('sm') {
      font-size: 6rem;
    }
  }

  &-7 {
    @include modular-typography(7);
  }

  &-6 {
    @include modular-typography(6);
  }

  &-5 {
    @include modular-typography(5);

    @include grid-media-max('sm') {
      font-size: 3.6rem;
    }
  }

  &-4 {
    @include modular-typography(4);

    @include grid-media-max('sm') {
      font-size: 3.2rem;
    }
  }

  &-3 {
    @include modular-typography(3);
  }

  &-2 {
    @include modular-typography(2);
  }

  &-1 {
    @include modular-typography(1);
  }
}
