@charset "UTF-8";

// To style ::before and ::after elements
// Add decorative colored tab as ::before element
.ood {
  &-has-tab-before {
    &::before {
      @include margin(null null 0.3em);
      display: block;
      content: "";
      height: 10px;
      width: 80px;
      background-color: $su-color-cardinal-red;
    }
  }
}

.su-before {
  &-color {
    @each $key, $color in $ood-colors {
      &-#{$key} {
        &::before {
          color: $color;
        }
      }
    }
  }
}

.su-before {
  &-bg {
    @each $key, $color in $ood-colors {
      &-#{$key} {
        &::before {
          background-color: $color;
        }
      }
    }

    &-hocus {
      @each $key, $color in $ood-text-colors {
        &-#{$key} {
          &:hover,
          &:focus {
            &::before {
              background-color: $color;
            }
          }
        }
      }
    }
  }
}

.su-after {
  &-bg {
    @each $key, $color in $ood-colors {
      &-#{$key} {
        &::after {
          background: $color;
        }
      }
    }

    &-hocus {
      @each $key, $color in $ood-text-colors {
        &-#{$key} {
          &:hover,
          &:focus {
            &::after {
              background: $color;
            }
          }
        }
      }
    }
  }
}
