@charset "UTF-8";

.su {
  &-text {
    &-black {
      color: $su-color-black;

      &-true {
        color: $su-color-black-true;
      }
    }

    &-white {
      color: $su-color-white;
    }

    &-palo-alto-dark {
      color: $su-color-palo-alto-dark;
    }

    &-digital-red {
      color: $su-color-digital-red;
    }

    &-cardinal-red {
      color: $su-color-cardinal-red;
    }

    // Text Alignment
    &-align {
      &-left {
        text-align: left;
      }

      &-center {
        text-align: center;
      }

      &-right {
        text-align: right;
      }
    }
  }

  &-regular {
    font-weight: $su-font-regular;
  }

  &-bold {
    font-weight: $su-font-bold;
  }

  &-semibold {
    font-weight: $su-font-semi-bold;
  }

  &-italic {
    font-style: italic;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}
