@charset "UTF-8";

.su {
  &-text {
    // Text Color
    @each $key, $color in $ood-text-colors {
      &-#{$key} {
        color: $color;
      }
    }

    // Text Alignment
    &-align {
      &-left {
        text-align: left;
      }

      &-center {
        text-align: center;
      }

      &-right {
        text-align: right;
      }
    }
  }

  &-regular {
    font-weight: $su-font-regular;
  }

  &-bold {
    font-weight: $su-font-bold;
  }

  &-semibold {
    font-weight: $su-font-semi-bold;
  }

  &-italic {
    font-style: italic;
  }

  &-uppercase {
    text-transform: uppercase;
  }
}
