@charset "UTF-8";

.text {
  &-black {
    color: $su-color-black;

    &-true {
      color: #000000;
    }
  }

  &-white {
    color: $su-color-white;
  }

  &-palo-alto-dark {
    color: #014240;
  }

  &-bright-red {
    color: $su-color-bright-red;
  }

  &-cardinal-red {
    color: $su-color-cardinal-red;
  }
}
