@charset "UTF-8";

// Styles for printing

@media print {
  .ood-header,
  .ood-local-footer,
  .su-global-footer,
  .ood-icon-card-section,
  nav {
    display: none!important;
  }

  * {
    max-width: 100%!important;
    position: relative!important;
    top: 0;
    box-shadow: none!important;
    text-shadow: none!important;
    color: #000!important;
  }

  // Prevent ending up with a single line at the end of a page and a single line at the top the next page
  p {
    orphans: 2!important;
    widows: 2!important;;
  }

  h1 {
    margin-top: 0!important;
    font-size: 4rem!important;
  }

  h2 {
    font-size: 3.4rem!important;
  }

  h3 {
    font-size: 3rem!important;
  }

  h4 {
    font-size: 2.7rem!important;
  }

  h5 {
    font-size: 2.3rem!important;
  }

  h6 {
    font-size: 2rem!important;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    break-inside: avoid!important;
  }

  *[class*="headline"] {
    font-size: 2.7rem!important;
  }

  .intro-text {
    font-size: 2.3rem!important;
  }

  span {
    font-size: 1.8rem!important;
  }

  a {
    &::after {
      display: none!important;
    }
  }

  table {
    font-size: 1.6rem!important;
  }

  figure,
  .ood-single-column-content img {
    max-width: 60%!important;
  }

  *::after,
  *::before {
    display: none!important;
  }

  .fa,
  .fas,
  .far {
    &::after,
    &::before {
      display: block!important; // The Life Income Gift table has fontawesome checkmarks
    }
  }

  .hero {
    border-bottom: 0!important;

    &__splash-text {
      margin-top: 2rem!important;
    }

    &__content {
      position: relative!important;
      bottom: 0!important;
      left: 0!important;
    }
  }

  // Hide these CTAs
  .ood-cta,
  .ood-icon-card,
  .ood-support-card,
  .su-link--action {
    display: none!important;
  }

  // Hide decorative images
  .ood-tile-card,
  .ood-story-card,
  .ood-basic-card,
  .ood-interior-page__header {
    .ood-media {
      display: none!important;
    }
  }

  .ood-story__header--has-image {
    .ood-story__header-content {
      margin-top: 0!important;
    }
  }

  .ood-story-card {
    &--has-image {
      border-top: 0 !important;
    }

    &__headline {
      margin-top: 0!important;
    }
  }

  .ood-poster {
    height: auto!important;
    border-bottom: 0!important;

    .centered-container {
      height: auto!important;
    }

    &__card {
      bottom: 0!important;
    }
  }

  .ood-quote-card {
    &__content {
      padding: 2rem!important;
      min-height: 1px!important;
    }

    &__quote {
      &::before {
        display: block!important;
      }
    }
  }

  .ood-interior-page {
    &__header-intro-wrapper {
      padding: 2rem 0!important;
    }

    &__intro {
      padding: 0!important;
      max-width: 100%!important;
    }
  }

  .ood-story-media__caption {
    &,
    * {
      font-size: 1.6rem!important;
    }
  }

  // Hide "below content" section and CTAs for stories
  .ood-story {
    .ood-interior-page__below-body,
    .ood-story-card,
    .ood-tile-card,
    .ood-cta__link,
    .ood-cta__button {
      display: none!important;
    }
  }

  .ood-story__header--no-image {
    border-color: transparent!important;
  }

  .ood-story__header-content-wrapper,
  .ood-tile-card__contents,
  .ood-poster__card,
  .hero__link,
  .ood-quote-card,
  .ood-basic-card__contents,
  .ood-story-card__contents {
    padding: 2rem!important;
    background-color: $su-color-white!important;
    border: 1px solid $su-color-black-40!important;
    break-inside: avoid!important;
  }

  .su-accordion {
    &__collapse-all,
    &__expand-all {
      display: none!important;
    }

    &__title {
      font-size: 2rem!important;
    }

    // Print accordion content no matter they are collapsed or not
    &__content[aria-hidden="true"] {
      display: block!important;
      height: auto!important;
      padding-top: 1rem!important;
    }
  }

  .ood-basic-card {
    padding: 0!important;
    border: 0!important;
  }

  .ood-quote-card {
    font-size: 1.6rem!important;

    &__content {
      margin-top: 0!important;
    }

    &__media,
    &--has-image {
      margin-top: 0!important;
    }
  }

  .ood-story-card,
  .ood-quote-card,
  .ood-tile-card,
  .ood-basic-card,
  .ood-poster,
  blockquote,
  span {
    break-inside: avoid!important;
  }

  // Take away all background colors from decorators
  *[class*="su-bg"] {
    background-color: transparent!important;
  }
}
