@charset "UTF-8";

.ood-hero {
  position: relative;
  height: 700px;
  border-bottom: 100px solid transparent; // To compensate for the CTA box bottom offset

  .su-media {
    height: 100%;

    .su-media__wrapper {
      height: 100%;
    }

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__splash-text {
    @include serif;
    @include modular-typography(9);
    @include margin(null null 0);
    max-width: 600px;
    position: absolute;
    bottom: 0.3em;
    left: calc((100% - 1500px) / 2);
    font-weight: $su-font-regular;
    z-index: 100;
    text-shadow: rgba(0,0,0,0.6) 0 0 26px;
  }

  &__link {
    @include modular-typography(4);
    position: absolute;
    bottom: -100px;
    //right: calc((100% - 1500px) / 2);
    max-width: 466px;
    z-index: 90;
    text-decoration: none;
    font-weight: $su-font-regular;

    &:hover,
    &:focus {
      .bg-hover-digital-red {
        transition: background-color 0.3s ease-out;
        background-color: $su-color-cardinal-red;
        text-decoration: underline;

        &::after {
          position: relative;
          transition: left 0.2s ease-in-out;
          left: 0.1em;
        }
      }
    }
  }

  &__cta-text {
    @include modular-spacing('padding', 4 3);
    @include margin(null null 0);

    &::after {
      @include margin(null null null 0.4em);
      display: inline-block;
      position: relative;
      left: 0;
      font-family: "Font Awesome 5 Free";
      content: "\f105";
      font-weight: 900;
    }
  }

  .su-media__caption {
    position: relative;
  }

  @each $key, $breakpoint in $su-grid-media {
    @if index($su-grid-media, ($key $breakpoint)) > 0 { // Breakpoint LG and larger
      $_edge: map-get($su-screen-margins, $key);

      &__link {
        @include grid-media($key) {
          right : $_edge;
        }
      }

      h1,
      .su-media__caption {
        @include grid-media($key) {
          left : $_edge;
        }
      }
    }
  }

  // For browser width larger than 1700px (1500 max center container width + 2 X max screen edges 100px each)
  @media only screen and (min-width: #{$su-screen-2xl + map_get($su-screen-margins, '2xl') * 2}) {
    $_max_width_edge: calc((100% - #{$su-site-max-width}) / 2);

    &__link {
      right: $_max_width_edge;
    }

    &__splash-text,
    .su-media__caption {
      left: $_max_width_edge;
    }
  }

}