@charset "UTF-8";

// Tile cards style

.tile-card {
  @include margin(null auto);
  height: 100%;
  background-color: transparent;
  max-width: 900px;

  .su-card__contents {
    > h2 {
      @include modular-typography(3);
      font-weight: $su-font-regular;
    }

    .tile-card__superhead {
      @include margin(null null 1.4em);
      letter-spacing: 0.1em;
    }
  }

  &.has-image {
    border-top: 80px solid transparent; // The transparent border compensate for the 80px image overhang

    .su-media {
      @include margin(-80px null null);
      @include modular-spacing('margin', null 2);
    }
  }

  &.no-image {
    .su-card__contents {
      @include modular-spacing("padding", 4 3);
    }

    .su-media {
      display: none;
    }
  }

  > a {
    height: 100%;
  }

  .fas,
  .far,
  .fab {
    font-size: 2em;
  }

  &__superhead {
    text-transform: uppercase;
  }
}

.text-white {
  color: $su-color-white;

  &.su-card--link {
    > a,
    > a:hover,
    > a:focus {
      color: $su-color-white;

      h2 {
        color: $su-color-white;
      }
    }
  }
}
