@charset "UTF-8";

html {
  @include font-smoothing;
  scroll-behavior: smooth;
}

a {
  color: $su-color-digital-red;
  transition: color 0.25s ease-out;

  &:hover,
  &:focus {
    color: $su-color-sky-dark;
  }
}

p {
  &:empty {
    display: none;
  }
}

.centered-container {
  @include centered-column;
}
