@charset "UTF-8";

// All the fonts used in this project

// Ligature font: Stanford.
// The Stanford font is being hosted and loaded from our AWS bucket.
@font-face {
  font-family: "Stanford";
  src: url("https://www-media.stanford.edu/assets/fonts/stanford.woff") format("woff"),
  url("https://www-media.stanford.edu/assets/fonts/stanford.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
}
