@charset "UTF-8";

// Campaign page with fullwidth image Hero

.campaign-page {
  &__hero--fullwidth-image {
    @include padding(10.7rem null 4.5rem);

    .campaign-page__image-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }

    .campaign-page__hero-content-wrapper {
      background: inherit;
      position: relative;
      z-index: 1;
    }

    .campaign-page__hero-content-logo {
      width: 100%;
      max-width: 430px;
    }

    .campaign-page__hero-content {
      &-wrapper {
        @include padding(3.4rem 2rem);

        > .campaign-page__hero-content-logo + * {
          margin-top: 3rem;
        }

        * + .ood-cta {
          margin-top: 2rem;
        }

        * + .campaign-page__hero-bar,
        * + .campaign-page__hero-intro {
          margin-top: 2rem;
        }

        @include grid-media('sm') {
          @include padding(3.4rem);
        }

        @include grid-media('md') {
          @include padding(5.8rem);

          > .campaign-page__hero-content-logo + * {
            margin-top: 4.5rem;
          }

          * + .campaign-page__hero-bar,
          * + .campaign-page__hero-intro,
          * + .ood-cta {
            margin-top: 2.6rem;
          }
        }
      }

      &-body {
        @include grid-media-max('xs') {
          @include padding(null 1.4rem);
        }
      }
    }

    .campaign-page__header-lockup {
      &.su-text-white::before {
        height: 140px;
      }
    }

    @include grid-media('md') {
      @include padding(15.7rem null 9rem);

      .campaign-page__header-lockup {
        &.su-text-white::before {
          height: 215px;
        }
      }
    }
  }
}
