@charset "UTF-8";

// Campaign page content type

.campaign-page {
  &__header {
    position: relative;
    @include grid-media('sm') {
      display: flex;
    }
    @include grid-media('lg') {
      min-height: 750px;
    }
  }

  &__header-content {
    &-body {
      > * {
        margin: 0;
      }
    }
  }

  &__image-wrapper {
    .campaign-page__media {
      height: 100%;
    }
    .campaign-page__image {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__header-content-logo {
    max-width: 220px;
    @include grid-media('xl') {
      max-width: 410px;
    }
  }

  &__header-bar {
    width: 97px;
    height: 10px;
  }

  &__header-lockup {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    @include padding(2.3rem null);

    .su-lockup > a {
      display: flex;
      align-items: center;
    }

    &.su-text-white {
      [class*='su-lockup__'] {
        color: $su-color-white;
        border-color: $su-color-white;
      }
    }

    @include grid-media-max('sm') {
      .su-lockup__cell1 {
        padding-right: 7px;
        padding-bottom: 0;
        align-self: flex-end;
        border-right: solid 1px #2e2d29;
      }

      .su-lockup__cell2 {
        padding-top: 0;
        padding-left: 7px;
        align-self: flex-end;
        flex-grow: 1;
      }

      .su-lockup__wordmark {
        font-size: 2.9rem;
      }

      .su-lockup__line1 {
        font-size: 2.3rem;
        line-height: 0.9em;
      }

    }

    @include grid-media('md') {
      @include padding(3.5rem null);
    }
  }

  &__header-icon {
    font-size: 1.6rem;
    font-weight: 600;
  }
}
