@charset "UTF-8";

// Interior page content type

.ood-interior-page {
  &__title {
    @include margin(null auto 0);
    @include interior-page-h1-fontsize;
    letter-spacing: 0;
    text-align: center;
  }

  &__intro {
    text-align: left;

    > div {
      > *:last-child {
        @include margin(null null 0);
      }
    }

    @include grid-media('xl') {
      max-width: calc(75% - 12px);
    }

    @include grid-media-max('sm') {
      @include modular-typography(1);
    }
  }

  &__header__media {
    @include grid-media('lg') {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  &__body {
    @include responsive-spacing('padding', 6 null);

    &-header {
      @include responsive-spacing('padding', null null 5);

      &-title {
        @include modular-typography(2);
        @include margin(null null 0);

        @include grid-media('md') {
          @include modular-typography(4);
        }
      }
    }

    &-content {
      color: $su-color-black-true;
    }

    &-sidebar {
      @include grid-media-max('md') {
        @include margin(null null 4em);
      }
    }
  }
}

// Interior page with minimal header option
.ood-interior-page--minimal {
  .ood-interior-page__header--minimal {
    @include padding(3.8rem null);

    @include grid-media('md') {
      @include padding(7.2rem null);
    }

    @include grid-media('lg') {
      @include padding(11.4rem null);
    }
  }
}

// Interior page with colored header option
.ood-interior-page--no-image {
  .ood-interior-page__header {
    &-title-wrapper {
      @include responsive-spacing('padding', null null 9);
    }

    &-intro-wrapper {
      @include margin(-6em auto null);
      @include responsive-spacing('padding', 4);
      box-shadow: $ood-shadow--shallow;
      background-color: $su-color-white;

      @include grid-media-max('sm') {
        @include margin(-3em null null);
      }
    }
  }

  @include grid-media('md') {
    .ood-interior-page__intro {
      text-align: center;
    }
  }
}

// Interior page with image header option
.ood-interior-page--has-image {
  .ood-interior-page__header {
    .ood-interior-page__title {
      @include grid-media('md') {
        text-align: left;
      }
    }

    &-title-wrapper {
      > .centered-container {
        position: relative;
      }

      @include grid-media-max('md') {
        @include padding(null null 0);
        @include margin(null null -4em);
      }

      @include grid-media('lg') {
        @include padding(get-responsive-spacing-value(6, 'tablet') null null);
        min-height: 26vw;
      }

      @include grid-media('xl') {
        min-height: 30vw;
      }

      @include grid-media('2xl') {
        @include padding(get-responsive-spacing-value(6, 'desktop') null null);
        min-height: 48rem;
      }
    }

    &-intro-wrapper {
      @include grid-media-max('sm') {
        @include padding(7rem null 3.6rem);
        border-top: 1.4em solid transparent;
      }

      @include grid-media-only('md') {
        @include padding(null null 3.6em);
        border-top: 2.6em solid transparent;
      }

      @include grid-media('lg') {
        border-top: 4em solid transparent;
      }
    }
  }

  .ood-interior-page__title {
    @include margin(null null null 0);

    @include grid-media-max('sm') {
      @include margin(get-responsive-spacing-value(5, 'mobile') null 0.6em);
    }

    @include grid-media-only('md') {
      @include margin(get-responsive-spacing-value(5, 'tablet') null 0.6em);
    }
  }
}

.ood-content-nav {
  + .ood-interior-page__title {
    @include grid-media-max('md') {
      @include margin(get-responsive-spacing-value(2, 'tablet') null null);
    }
  }
}
