@charset "UTF-8";

// Interior page header variant with non-fullwidth image with fixed aspect ratio

.ood-interior-page--has-image {
  .ood-interior-page__header {
    .ood-interior-page__title {
      @include margin(0 null 0.4em);
      color: $su-color-black;

      @include grid-media('md') {
        @include modular-typography(4);
        text-align: left;
      }

      @include grid-media('lg') {
        @include modular-typography(5);
      }

      @include grid-media('xl') {
        @include modular-typography(6);
      }
    }

    .ood-interior-page__header-title-wrapper {
      position: relative;

      > .centered-container {
        @include padding(get-responsive-spacing-value(4, 'mobile') null null);

        @include grid-media('md') {
          @include padding(get-responsive-spacing-value(4, 'tablet') null null);
        }

        @include grid-media('lg') {
          @include padding(get-responsive-spacing-value(5, 'tablet') null null);
        }

        @include grid-media('xl') {
          @include padding(get-responsive-spacing-value(5, 'desktop') null null);
        }

        @include grid-media('2xl') {
          @include padding(get-responsive-spacing-value(6, 'desktop') null null);
        }
      }
    }

    &-intro-wrapper {
      font-size: 20px;

      @include grid-media('md') {
        font-size: 25px;

        > div > p:last-child {
          @include margin(null null 0);
        }
      }
    }
  }

  .ood-interior-page__title {
    @include margin(null null null 0);

    @include grid-media-max('md') {
      @include margin(null null 0.6em);
    }
  }

  .ood-content-nav {
    @include grid-media-max('md') {
      @include margin(0 null);
      @include responsive-spacing('padding', 2 null);
    }
  }

  .ood-interior-page__rectangle {
    @include grid-media('md') {
      position: absolute;
      right: 0;
      top: 0;
    }

    @include grid-media-max('sm') {
      position: absolute;
      right: 0;
      top: 39%;
      left: 10%;
      height: 53%;
    }
    @include grid-media-max('xs') {
      position: absolute;
      right: 0;
      top: 44%;
      left: 10%;
      height: 47%;
    }

    @include grid-media-only('md') {
      width: calc(41vw - 6rem);
      height: calc((41vw - 6rem) * 2 /3);
    }

    @include grid-media('lg') {
      width: calc(48vw - 10rem);
      height: calc((48vw - 10rem) * 2 /3);
    }

    // Height of triangle doesn't expand beyond 2XL breakpoint + 200px (screen edge padding)
    @media screen and (min-width: 1700px) {
      height: 48rem;
    }
  }
}
