@charset "UTF-8";

// Interior page content type

.ood-interior-page {
  &__title {
    @include margin(null auto 0);
    @include interior-page-h1-fontsize;
    letter-spacing: 0;
    text-align: center;
  }

  &__intro {
    text-align: left;

    > div {
      > *:last-child {
        @include margin(null null 0);
      }
    }

    @include grid-media('xl') {
      max-width: calc(75% - 12px);
    }

    @include grid-media-max('sm') {
      @include modular-typography(1);
    }
  }

  &__body {
    @include padding(9rem null 9rem);

    &-header {
      @include responsive-spacing('padding', null null 5);

      &-title {
        @include margin(null null 0);
        letter-spacing: 0;
        font-size: 3rem;

        @include grid-media('md') {
          @include modular-typography(3);
        }

        @include grid-media('lg') {
          @include modular-typography(4);
        }
      }
    }

    &-sidebar {
      > *:last-child {
        @include grid-media-max('sm') {
          @include margin(null null get-responsive-spacing-value(6, mobile));
        }

        @include grid-media-only('md') {
          @include margin(null null get-responsive-spacing-value(5, tablet));
        }
      }
    }
  }

  &__section-menu {
    @include grid-media-max('sm') {
      position: absolute;
      height: 98px;
      background: $su-color-palo-alto-dark;
    }
    @include grid-media-only('md') {
      position: absolute;
      height: 132px;
      background: $su-color-palo-alto-dark;
    }
  }
}

// Interior page with minimal header option
.ood-interior-page--minimal {
  .ood-interior-page__header--minimal {
    @include padding(null null 3.8rem);

    @include grid-media('md') {
      @include padding(null null 7.2rem);
    }

    @include grid-media('lg') {
      @include padding(11.4rem null);
    }

    > .centered-container {
      position: relative;
    }
  }
}

// Interior page with colored header option
.ood-interior-page--no-image {
  .ood-interior-page__header {
    &-title-wrapper {
      @include responsive-spacing('padding', null null 9);

      @include grid-media('lg') {
        @include padding(get-responsive-spacing-value(7, 'tablet') null null);
      }

      @include grid-media('2xl') {
        @include padding(get-responsive-spacing-value(7, 'desktop') null null);
      }
    }

    &-intro-wrapper {
      @include margin(-6em auto null);
      @include responsive-spacing('padding', 4);
      box-shadow: $ood-shadow--shallow;
      background-color: $su-color-white;

      @include grid-media-max('sm') {
        @include margin(-3em null null);
      }
    }
  }

  @include grid-media('md') {
    .ood-interior-page__intro {
      text-align: center;
    }
  }
}

// Interior page with image header option
.ood-interior-page--has-image {
  .ood-interior-page__header {
    .ood-interior-page__title {
      @include margin(0 null null);
      color: $su-color-black;

      @include grid-media-max('sm') {
        font-size: 42px;
      }
      @include grid-media('md') {
        text-align: left;
        font-size: 46px;
      }
      @include grid-media('lg') {
        font-size: 50px;
      }
      @include grid-media('xl') {
        font-size: 68px;
      }
    }

    &-title-wrapper {
      > .centered-container {
        position: relative;
        .header-and-intro {
          padding-bottom: 5%;
        }
      }

      @include grid-media-max('md') {
        @include padding(null null 0);
        @include margin(null null -4em);
      }

      @include grid-media('lg') {
        @include padding(get-responsive-spacing-value(6, 'tablet') null null);
        min-height: 26vw;
      }

      @include grid-media('xl') {
        min-height: 30vw;
      }

      @include grid-media('2xl') {
        @include padding(get-responsive-spacing-value(6, 'desktop') null null);
        min-height: 48rem;
      }
    }

    &-intro-wrapper {
      border-top: 0;
      color: #2E2D29;
      @include grid-media-max('sm') {
        font-size: 20px;
        margin: 12px 0;
      }

      @include grid-media-only('md') {
        font-size: 25px;
        margin: 20px 0;
      }

      @include grid-media('lg') {
        font-size: 25px;
        margin: 20px 0;
      }

      @include grid-media('xl') {
        font-size: 25px;
        margin: 20px 0;
      }
    }
  }

  .ood-interior-page__title {
    @include margin(null null null 0);

    @include grid-media-max('md') {
      @include margin(null null 0.6em);
    }
  }

  .ood-content-nav {
    @include grid-media-max('md') {
      @include margin(0 null);
      @include responsive-spacing('padding', 2 null);
    }
  }


  .ood-interior-page__rectangle {
    @include grid-media('md') {
      position: absolute;
      right: 0;
      top: 0;
    }

    @include grid-media-max('sm') {
      //top: 53%;
      height: 44%;
      //width: 87%;
    }
    @include grid-media-only('md') {
      //top: 38%;
      height: 55%;
      //width: 66%;
    }
    @include grid-media('lg') {
      height: 75%;
      //width: 41%;
    }
    @include grid-media('xl') {
      height: 58%;
      //width: 48%;
    }

    @include grid-media('2xl') {
      width: calc(49% - 100px);
      height: 73%;
      //width: 48%;
    }
  }
}

.ood-interior-page__title {
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(5, 'mobile') null null);
  }

  @include grid-media-only('md') {
    @include margin(get-responsive-spacing-value(5, 'tablet') null null);
  }
}

.ood-content-nav {
  + .ood-interior-page__title {
    @include grid-media-max('md') {
      @include margin(get-responsive-spacing-value(2, 'tablet') null null);
    }
  }
}
