@charset "UTF-8";

// Interior page header variant with intro but not image

.ood-interior-page--no-image {
  .ood-interior-page__header {
    &-title-wrapper {
      @include responsive-spacing('padding', null null 9);

      @include grid-media('lg') {
        @include padding(get-responsive-spacing-value(7, 'tablet') null null);
      }

      @include grid-media('2xl') {
        @include padding(get-responsive-spacing-value(7, 'desktop') null null);
      }
    }

    &-intro-wrapper {
      @include margin(-6em auto null);
      @include responsive-spacing('padding', 4);
      box-shadow: $ood-shadow--shallow;
      background-color: $su-color-white;

      @include grid-media-max('sm') {
        @include margin(-3em null null);
      }
    }
  }

  @include grid-media('md') {
    .ood-interior-page__intro {
      text-align: center;
    }
  }
}
