@charset "UTF-8";

// Interior page content type

.ood-interior-page {
  &__title {
    @include margin(null auto 0);
    @include interior-page-h1-fontsize;
    letter-spacing: 0;
    text-align: center;
  }

  &__intro {
    text-align: left;

    > div {
      > *:last-child {
        @include margin(null null 0);
      }
    }

    @include grid-media('xl') {
      max-width: calc(75% - 12px);
    }

    @include grid-media-max('sm') {
      @include modular-typography(1);
    }
  }

  &__body {
    @include responsive-spacing('padding', 6 null);

    &-header {
      @include responsive-spacing('padding', null null 5);

      &-title {
        @include margin(null null 0);
        letter-spacing: 0;
        font-size: 3rem;

        @include grid-media('md') {
          @include modular-typography(3);
        }

        @include grid-media('lg') {
          @include modular-typography(4);
        }
      }
    }

    &-sidebar {
      > *:last-child {
        @include grid-media-max('sm') {
          @include margin(null null get-responsive-spacing-value(6, mobile));
        }

        @include grid-media-only('md') {
          @include margin(null null get-responsive-spacing-value(5, tablet));
        }
      }
    }
  }
}

.ood-interior-page__title {
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(5, 'mobile') null null);
  }

  @include grid-media-only('md') {
    @include margin(get-responsive-spacing-value(5, 'tablet') null null);
  }
}

.ood-content-nav {
  + .ood-interior-page__title {
    @include grid-media-max('md') {
      @include margin(get-responsive-spacing-value(2, 'tablet') null null);
    }
  }
}
