@charset "UTF-8";

// Story page type

.ood-story {
  h1 {
    @include serif;
    font-weight: $su-font-regular;
    letter-spacing: 0;
  }

  &__header {
    background-color: $su-color-fog-light;

    &-content {
      @include margin(-8em null null);

      &-wrapper {
        @include margin(null auto);
        @include modular-spacing('padding', 4);
        background-color: $su-color-white;
      }
    }
  }

  &__media {
    width: 100%;
    overflow: hidden;
    height: 300px;

    @include grid-media('md') {
      height: 400px;
    }

    @include grid-media('xl') {
      height: 500px;
    }

    @include grid-media('2xl') {
      height: 640px;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__title {
    @include modular-typography(6);
    @include margin(null null 0.4em);
  }

  &__intro-text {
    @include margin(null null 0);
    max-width: 100%;
  }

  &__content {
    > div {
      &:first-child {
        @include modular-spacing('padding', 4 null null);
      }

      &:last-child {
        @include modular-spacing('padding', null null 5);
      }
    }
  }

  &__footer {
    background-color: $su-color-fog-light;

    &-wrapper {
      @include margin(null auto);
    }
  }

  &__metadata {
    > p {
      font-size: 1.6rem;
      font-weight: $su-font-bold;
      letter-spacing: 0.14em;
      text-transform: uppercase;
    }
  }
}

.ood-story-media {
  @include modular-spacing('padding', 4 null);

  &__figure {
    @include margin(null auto);
  }

  // Edge-to-edge
  &.su-w-full {
    display: flex;

    > div {
      width: 100%;
    }

    .ood-story-media__wrapper {
      height: 30vw;
    }

    .ood-story-media__image {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    .ood-story-media__caption {
      text-align: center;
    }
  }

  &.su-w-auto {

  }

  &__caption {
    @include margin(0.8em null null);

    > div {
      > * {
        &:last-child {
          @include margin(null null 0);
        }
      }
    }
  }
}
