@charset "UTF-8";

// Areas of Support page with filtering
// Shares some common styles with Interior Page component

.ood-support-page {
  &__filter-container {
    @include grid-media('md') {
      text-align: center;
    }

    .ood-support-card {
      position: relative;
      left: 0;
      visibility: visible;
      height: 100%;
      width: 100%;
      opacity: 1;
      transition: opacity 0.4s ease-out, left 0.8s ease-out;
    }

    label {
      @include padding(0.7em 1.4em);
      @include margin(null 0.4em 1em);
      font-size: 0.9em;
      display: inline-block;
      background-color: $su-color-white;
      color: $su-color-bay-dark;
      box-shadow: inset 0 0 0 1px $su-color-bay-dark;
      text-align: center;
      cursor: pointer;
      transition: color 0.25s ease-out, background-color 0.25s ease-out;

      &:hover,
      &:focus {
        background-color: $su-color-bay-dark;
        color: $su-color-white;
        text-decoration: underline;
      }

      &:active {
        background-color: $su-color-palo-alto;
        color: $su-color-white;
      }

      @include grid-media-max('sm') {
        @include padding(0.7em 0.2em);
        @include margin(null 2% null 0);
        width: 49%;

        &:nth-of-type(2n) {
          @include margin(null 0 null null);
        }
      }

      @include grid-media('xl') {
        font-size: 2rem;
      }
    }

    input[type="radio"] {
      opacity: 0;
      position: absolute;

      &:focus {
        + label {
          background-color: $su-color-white;
          text-decoration: underline;
        }
      }

      &:checked {
        + label {
          color: $su-color-white;
          background-color: $su-color-palo-alto-dark;
        }
      }

      &[id="all"]:checked ~ div article:not([data-areas-to-support*="all"]),
      &[id="undergraduate"]:checked ~ div article:not([data-areas-to-support*="undergraduate"]),
      &[id="grad"]:checked ~ div article:not([data-areas-to-support*="grad-education"]),
      &[id="arts"]:checked ~ div article:not([data-areas-to-support*="arts"]),
      &[id="athletics"]:checked ~ div article:not([data-areas-to-support*="athletics"]),
      &[id="business"]:checked ~ div article:not([data-areas-to-support*="business"]),
      &[id="culture"]:checked ~ div article:not([data-areas-to-support*="culture"]),
      &[id="law"]:checked ~ div article:not([data-areas-to-support*="law"]),
      &[id="medicine"]:checked ~ div article:not([data-areas-to-support*="medicine"]),
      &[id="science"]:checked ~ div article:not([data-areas-to-support*="science"]),
      &[id="teaching"]:checked ~ div article:not([data-areas-to-support*="teaching"]),
      &[id="sustainability"]:checked ~ div article:not([data-areas-to-support*="sustainability"]) {
        width: 0;
        height: 0;
        padding: 0;
        margin: 0;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: -200px;
      }
    }
  }
}
