@charset "UTF-8";

// Accordion styles

.ood-accordion {
  &__heading,
  &__title {
    letter-spacing: 0;
  }

  &__heading {
    @include margin(-0.16em null 1.4em);
    @include modular-typography(2);

    @include grid-media("md") {
      font-size: 3.2rem;
    }

    @include grid-media("lg") {
      @include modular-typography(3);
    }
  }

  &__title {
    @include modular-typography(1);

    > .ood-accordion__button {
      @include padding(1.5rem 4rem 1.5rem 1.5rem);
      font-weight: inherit;

      &::after {
        right: 1.5rem;
        color: $su-color-palo-alto-light;
      }
    }

    > .ood-accordion__button--digital-red {
      @include padding(1.5rem 4rem 1.5rem 1.5rem);
      font-weight: inherit;

      &::after {
        right: 1.5rem;
        color: $su-color-digital-red;
      }
    }
  }

  &__list {
    @include margin(null null 0);

    ul {
      list-style-type: disc;
    }
  }

  &__content {
    &[aria-hidden="true"] {
      display: none;
    }
  }
}

.su-accordion {
  &__expand-all,
  &__collapse-all {
    @include grid-media-max("sm") {
      font-size: 1.6rem;
    }

    &.ood-cta__button--secondary-digital-red {
      &::after {
        color: $su-color-digital-red;
      }

      &:hover,
      &:focus {
        &::after {
          color: $su-color-white;
        }
      }
    }

    &::after {
      @include margin(null null null 0.3em);
      display: inline-block;
    }
  }

  &__expand-all {
    &::after {
      content: "\002B";
    }
  }

  &__collapse-all {
    &::after {
      content: "\2212";
    }
  }
}
