@charset "UTF-8";

// Accordion styles

.ood-accordion {
  &__heading {
    @include margin(-0.16em null null);
    @include modular-typography(3);
  }

  &__title {
    @include modular-typography(1);
    letter-spacing: 0;

    > .ood-accordion__button {
      &::after {
        color: $su-color-black;
      }
    }
  }

  &__list {
    @include margin(null null 0);

    ul {
      list-style-type: disc;
    }
  }

  &__item {
    > div {
      p,
      ol,
      ul {
        @include ood-big-paragraph;
        @include margin(null null 1.6em);
      }
      
      > * {
        &:last-child {
          @include margin(null null 0); // last item in the WYSIWYG
        }
      }

      h3,
      h4,
      h5,
      h6 {
        @include serif;
        @include margin(null null 0.7em);
        letter-spacing: 0;
        clear: both;
      }

      li {
        p {
          @include margin(null null 0.4em);
        }
      }
    }
  }
}
