.gallery-slideshow--slide {
  line-height: 0;
  .ood-gallery-slide__image {
    object-fit: contain;
    object-position: bottom;
  }
}

.gallery-slideshow--infobar {
  display: flex;
  justify-content: space-between;
  margin-top: 0.9rem;
  @include grid-media-max('sm') {
    margin-top: 0.8rem;
  }
}

.gallery-slideshow--minimal {
  .gallery-slideshow--caption {
    @include margin(get-responsive-spacing-value(1, 'tablet') null);
    @include grid-media-max('sm') {
      @include margin(get-responsive-spacing-value(1, 'mobile') null);
    }
  }
}

.gallery-slideshow--inner {
  @include grid-media-max('sm') {
    max-width: 20rem;
  }
}

.gallery-slideshow--caption {
  max-width: 64rem;
  text-align: right;
  margin-left: auto;
  font-style: italic;
  user-select: text;

  @include margin(get-responsive-spacing-value(0, 'tablet') null);
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(0, 'mobile') null);
  }

  p {
    margin-bottom: 0;
  }
}

.gallery-slideshow--expand button {
  color: $su-color-palo-alto-light;
  border: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
}
.gallery-slideshow--expand button:hover,
.gallery-slideshow--expand button:active {
  color: $su-color-palo-verde-dark;
  text-decoration: underline;
}

.gallery-slideshow--expand i {
  margin-left: 0.6rem;
  @include grid-media-max('sm') {
    margin-left: 0.5rem;
  }
}

.gallery-slideshow--controls {
  position: relative;
  display: flex;
  align-items: center;
  @include margin(get-responsive-spacing-value(1, 'tablet') null null null);
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(1, 'mobile') null null null);
  }
}
.gallery-slideshow--pager-window {
  overflow: hidden;
  position: relative;
  @include margin(null get-responsive-spacing-value(1, 'tablet'));
  @include grid-media-max('sm') {
    @include margin(null get-responsive-spacing-value(1, 'mobile'));
  }
  flex-grow: 1;

  &.overlay::before {
    content: '';
    position: absolute;
    right: -2.6rem;
    width: 5rem;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    z-index: 1;
  }
}

.gallery-slideshow--pager {
  list-style: none;  
  position: relative;
  margin: 0;
  padding-left: 0;
  width: max-content;
  transition: all 200ms ease-in-out;

  & > li {
    display: inline-block;
    @include margin(null get-responsive-spacing-value(1, 'tablet') 0 null);
    @include grid-media-max('sm') {
      @include margin(null get-responsive-spacing-value(1, 'mobile') 0 null);
    }
  }
}

.gallery-slideshow--thumbnail {
  box-sizing: content-box;
  opacity: 0.4;
  display: inline-block;
  cursor: pointer;

  & .su-media__wrapper {
    height: 5.5rem;
    width: 9.8rem;
  }
}

.gallery-slideshow--thumbnail:hover,
.gallery-slideshow--thumbnail:active {
  opacity: 1;
}

.gallery-slideshow .slick-slide,
.gallery-slideshow--modal .slick-slide {
  line-height: 0;
}

.slick-active .gallery-slideshow--thumbnail {
  opacity: 1;
  border: $su-color-palo-verde-dark 5px solid;
}

.gallery-slideshow--prev,
.gallery-slideshow--next {
  z-index: 1;
  color: $su-color-palo-verde-dark;
  width: 5.5rem;
  height: 5.5rem;
  border: $su-color-palo-verde-dark 3px solid;
  border-radius: 100%;
  line-height: 0;
  padding: 1rem;
  background: transparent;
  flex-shrink: 0;
  cursor: pointer;

  @include grid-media-max('sm') {
    width: 4.7rem;
    height: 4.7rem;
    border-width: 2px;
    svg > path {
      stroke-width: 2;
    }
  }
}

.gallery-slideshow--prev > i {
  margin-right: 0.3rem;
}

.gallery-slideshow--next > i{
  margin-left: 0.2rem;
}

.gallery-slideshow--prev:hover,
.gallery-slideshow--next:hover,
.gallery-slideshow--prev:active,
.gallery-slideshow--next:active {
  color: $su-color-palo-verde;
  border: $su-color-palo-verde 3px solid;
}

.gallery-slideshow--modal-wrapper {
  a {
    color: #ffffff;
  }
  .gallery-slideshow--infobar {
    margin-left: 3.2rem;
    margin-right: 3.2rem;

    @include grid-media('md') {
      flex-direction: column;
      margin-left: 6rem;
      margin-right: 6rem;
    }
    @include grid-media('lg') {
      margin-left: 7.2rem;
      margin-right: 7.2rem;
    }
  }
  .gallery-slideshow--caption {
    margin-top: 0;
    @include grid-media-max('sm') {
      margin-left: 2rem;
    }
  }
}

.gallery-slideshow--modal {
  position: relative;
  flex-direction: row;
  @include margin(get-responsive-spacing-value(1, 'tablet') null null null);
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(1, 'mobile') null null null);
  }

  &.slick-slider {
    display: flex;
  }

  .slick-list {
    flex-grow: 1;
  }

  .slick-prev,
  .slick-next {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 100%;
    flex-shrink: 0;
    line-height: 0;
    align-self: center;
    background: transparent;
    color: $su-color-fog-light;
    border: $su-color-fog-light 2px solid;
    z-index: 1;
    cursor: pointer;

    @include grid-media('md') {
      width: 4.2rem;
      height: 4.2rem;
      border-width: 3px;
      font-size: 1.8rem;
      padding: 0;
    }

    @include grid-media('lg') {
      width: 4.7rem;
      height: 4.7rem;
    }

    @include grid-media('xl') {
      width: 5.5rem;
      height: 5.5rem;
    }
  }
  .slick-prev:hover,
  .slick-next:hover,
  .slick-prev:active,
  .slick-next:active {
    color: $su-color-black-20;
    border-color: $su-color-black-20;
  }

  .slick-prev > i {
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;

    @include grid-media('md') {
      margin-right: 0.3rem;
      margin-bottom: 0;
    }
  }
  
  .slick-next > i {
    margin-left: 0.1rem;
    margin-bottom: 0.2rem;

    @include grid-media('md') {
      margin-left: 0.2rem;
      margin-bottom: 0;
    }
  }

  .slick-prev {
    margin-right: 1.8rem;
    @include grid-media-max('sm') {
      margin-right: 0.8rem;
    }
  }
  .slick-next {
    margin-left: 2rem;
    @include grid-media-max('sm') {
      margin-left: 0.8rem;
    }
  }
}

// Overrides when using fog-light background.
.gallery-slideshow.su-bg-fog-light {
  .gallery-slideshow--pager-window {
    &.overlay::before {
      background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, $su-color-fog-light 30%);
    }
  }
}
