.gallery-slideshow--slide {
  line-height: 0;
  .ood-gallery-slide__image {
    object-fit: contain;
    object-position: bottom;
  }
}

.gallery-slideshow--infobar {
  display: flex;
  justify-content: space-between;
  margin-top: 0.9rem;
  @include grid-media-max('sm') {
    margin-top: 0.8rem;
  }
}

.gallery-slideshow--caption {
  max-width: 64rem;
  text-align: right;
  margin-left: auto;
  font-style: italic;
  user-select: text;
}

.gallery-slideshow--caption--before {
  @include margin(get-responsive-spacing-value(1, 'tablet') null);
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(1, 'mobile') null);
  }
}

.gallery-slideshow--caption--after {
  @include margin(get-responsive-spacing-value(1, 'tablet') null null null);
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(1, 'mobile') null null null);
  }
}

.gallery-slideshow--expand button {
  color: $su-color-palo-alto-light;
  border: none;
  background: transparent;
  text-decoration: none;
}
.gallery-slideshow--expand button:hover {
  color: $su-color-palo-verde-dark;
  text-decoration: underline;
}

.gallery-slideshow--expand i {
  margin-left: 0.6rem;
  @include grid-media-max('sm') {
    margin-left: 0.5rem;
  }
}

.gallery-slideshow--controls {
  position: relative;
  display: flex;
  align-items: center;
  @include margin(get-responsive-spacing-value(1, 'tablet') null null null);
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(1, 'mobile') null null null);
  }
}
.gallery-slideshow--pager-window {
  overflow: hidden;
  position: relative;
  @include margin(null get-responsive-spacing-value(1, 'tablet'));
  @include grid-media-max('sm') {
    @include margin(null get-responsive-spacing-value(1, 'mobile'));
  }
  flex-grow: 1;

  &.overlay::before {
    content: '';
    position: absolute;
    right: -2.6rem;
    width: 5rem;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 30%);
    z-index: 1;
  }
}

.gallery-slideshow--pager {
  list-style: none;  
  position: relative;
  margin: 0;
  padding-left: 0;
  width: max-content;
  transition: all 200ms ease-in-out;

  & > li {
    display: inline-block;
    @include margin(null get-responsive-spacing-value(1, 'tablet') 0 null);
    @include grid-media-max('sm') {
      @include margin(null get-responsive-spacing-value(1, 'mobile') 0 null);
    }
  }
}

.gallery-slideshow--thumbnail {
  box-sizing: content-box;
  opacity: 0.4;
  display: inline-block;

  & .su-media__wrapper {
    height: 5.5rem;
    width: 9.8rem;
  }
}

.gallery-slideshow--thumbnail:hover {
  opacity: 1;
}

.slick-active .gallery-slideshow--thumbnail {
  opacity: 1;
  border: $su-color-palo-verde-dark 5px solid;
}

.gallery-slideshow--prev,
.gallery-slideshow--next {
  z-index: 1;
  color: $su-color-palo-verde-dark;
  width: 5.5rem;
  height: 5.5rem;
  border: $su-color-palo-verde-dark 3px solid;
  border-radius: 100%;
  line-height: 0;
  padding: 1rem;
  background: transparent;
  flex-shrink: 0;

  @include grid-media-max('sm') {
    width: 4.7rem;
    height: 4.7rem;
    border-width: 2px;
    svg > path {
      stroke-width: 2;
    }
  }
}

.gallery-slideshow--prev:hover,
.gallery-slideshow--next:hover {
  color: $su-color-palo-verde;
  border: $su-color-palo-verde 3px solid;
}

.gallery-slideshow--modal {
  position: relative;
  @include margin(get-responsive-spacing-value(1, 'tablet') null null null);
  @include grid-media-max('sm') {
    @include margin(get-responsive-spacing-value(1, 'mobile') null null null);
  }

  .slick-prev,
  .slick-next {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 100%;
    line-height: 0;
    padding: 1rem;
    background: transparent;
    color: $su-color-fog-light;
    border: $su-color-fog-light 3px solid;
    position: absolute;
    top: calc(50% - 2.25rem);
    z-index: 1;

    @include grid-media-max('sm') {
      width: 4.7rem;
      height: 4.7rem;
      border-width: 2px;
      svg > path {
        stroke-width: 2;
      }
    }
  }
  .slick-prev:hover,
  .slick-next:hover {
    color: $su-color-black-20;
    border-color: $su-color-black-20;
  }

  .slick-prev {
    left: 2rem;
  }
  .slick-next {
    right: 2rem;
  }
}