@charset "UTF-8";

// Homepage/Landing Page Hero Section

.hero {
  position: relative;
  border-bottom: 10rem solid transparent; // To compensate for the CTA box overhang

  @include grid-media('lg') {
    border-bottom: $card-overhang solid transparent; // overhang is smaller for LG and up
  }

  &__media {
    background-color: $su-color-archway-dark;
    height: 36rem;

    @include grid-media('md') {
      height: 40rem;
    }

    @include grid-media('lg') {
      height: 50rem;
    }

    @include grid-media('xl') {
      height: 60rem;
    }

    &-wrapper {
      height: 100%;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__content {
    @include grid-media-max('md') {
      position: absolute;
      bottom: -10rem; // overhang of CTA box for mobile/tablet
    }

    @include grid-media-max('xs') {
      left: map-get($su-screen-margins, "xs");
    }

    @include grid-media-only('sm') {
      left: map-get($su-screen-margins, "sm");
    }

    @include grid-media-only('md') {
      left: map-get($su-screen-margins, "md");

      > .hero__splash-text,
      > .hero__link {
        @include margin(null auto);
      }
    }

    @include grid-media('lg') {
      position: relative;
    }
  }

  &__splash-text {
    @include serif;
    @include responsive-spacing('margin', null null 2);
    line-height: 1.1;
    z-index: 100;
    text-shadow: rgba(0,0,0,0.6) 0 0 26px;

    &::after {
      @include margin(0.12em null null);
      display: block;
      content: "";
      height: 10px;
      width: 128px;
      background-color: $su-color-digital-red;
    }

    @include grid-media('lg') {
      @include margin(null null 0);
      position: absolute;
      left: 0;
      bottom: 8rem;
    }
  }

  &__link {
    @include responsive-spacing('padding', 3);
    right: 0;
    color: $su-color-white;
    z-index: 90;
    text-decoration: none;
    font-weight: $su-font-regular;

    @include grid-media-only('md') {
      @include padding(get-responsive-spacing-value(2, 'tablet') get-responsive-spacing-value(2, 'tablet') null)
    }

    @include grid-media('lg') {
      position: absolute;
      bottom: #{-$card-overhang};
    }

    &:hover,
    &:focus {
      color: $su-color-white;

      .hero__cta-headline {
        text-decoration: underline;
      }

      .hero__cta-text {
        &::after {
          background-color: $su-color-white;
          transform: translateX(0.2em);
        }
      }
    }
  }

  &__cta-headline {
    @include modular-typography(2);
    @include margin(null null 0);

    @include grid-media('md') {
      @include modular-typography(3);
    }
  }

  &__cta-text {
    @include modular-typography(0);
    @include margin(1em 0 0);

    &::after {
      background-color: $su-color-white;
    }
  }
}
