@charset "UTF-8";

// Homepage/Landing Page Hero Section

.ood-hero-home {
  position: relative;
  height: 700px;
  border-bottom: 100px solid transparent; // To compensate for the CTA box bottom offset

  &__media {
    height: 100%;
    background-color: $su-color-archway-dark;

    &-wrapper {
      height: 100%;
    }
  }

  &__image {
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  &__content {
    position: relative;
  }

  &__splash-text {
    @include serif;
    @include margin(null null 0);
    position: absolute;
    bottom: 220px;
    left: 0;
    line-height: 1.1;
    z-index: 100;
    text-shadow: rgba(0,0,0,0.6) 0 0 26px;

    &::after {
      @include margin(0.12em null null);
      display: block;
      content: "";
      height: 10px;
      width: 128px;
      background-color: $su-color-digital-red;
    }

    @include grid-media('lg') {
      bottom: 80px;
    }
  }

  &__link {
    @include modular-spacing('padding', 3);
    position: absolute;
    bottom: -100px;
    right: 0;
    color: $su-color-white;
    z-index: 90;
    text-decoration: none;
    font-weight: $su-font-regular;

    &:hover,
    &:focus {
      color: $su-color-white;

      .ood-hero-home__cta-headline {
        text-decoration: underline;
      }

      .ood-hero-home__cta-text {
        &::after {
          background-color: $su-color-white;
          transform: translateX(0.2em);
        }
      }
    }
  }

  &__cta-headline {
    @include modular-typography(3);
    @include margin(null null 0);
  }

  &__cta-text {
    @include modular-typography(0);
    @include margin(1em 0 0);

    &::after {
      background-color: $su-color-white;
    }
  }
}
