@charset "UTF-8";

// Poster style

.ood-poster {
  position: relative;
  border-bottom: 6rem solid transparent;
  height: 49rem; // height of the image plus the transparent border bottom

  @include grid-media('md') {
    height: 52rem;
  }

  @include grid-media('md') {
    border-bottom: $card-overhang solid transparent;
    height: 58rem;
  }

  @include grid-media('xl') {
    height: 64rem;
  }

  &__media {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 43rem;

    @include grid-media('md') {
      height: 50rem;
    }

    @include grid-media('xl') {
      height: 56rem;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .centered-container {
    position: relative;
    z-index: 100;
    height: 100%;
  }

  &__row {
    height: 100%;
  }

  &__flex-cell {
    height: 100%;
  }

  &__card {
    @include modular-spacing('padding', 4 4 5);
    width: 100%;
    min-height: 30rem;
    position: absolute;
    bottom: -6rem;
    padding: 2em;

    @include grid-media-max('sm') {
      @include padding(3.4rem 3.4rem 5rem);
    }

    @include grid-media-only('md') {
      @include padding(4.5rem 4.5rem 5.8rem);
    }

    @include grid-media('md') {
      bottom: #{-$card-overhang};
      min-height: 39rem;
    }

    @include grid-media-only('lg') {
      @include padding(4.8rem 4.8rem 6.1rem);
    }
  }

  &__headline {
    @include modular-typography(2);
    @include margin(null null 0.6em);
    letter-spacing: -0.016em;

    @include grid-media('md') {
      @include modular-typography(3);
    }
  }

  &__text {
    @include ood-big-paragraph;

    @include grid-media-only('md') {
      font-size: 2rem;
    }
  }

  .ood-cta {
    @include modular-spacing('margin', 3 null null);

    @include grid-media-max('sm') {
      @include margin(3.2rem null null);
    }
  }
}
