@charset "UTF-8";

// Poster style

.ood-poster {
  border-bottom: 80px solid transparent;
  position: relative;
  height: 640px; // height of the image plus the transparent border bottom

  &__media {
    position: absolute;
    top: 0;
    z-index: 1;

    @include grid-media('lg') {
      height: 560px;
    }
  }

  &__image {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .centered-container {
    position: relative;
    z-index: 100;
    height: 100%;
  }

  &__row {
    height: 100%;
  }

  &__flex-cell {
    height: 100%;
  }

  &__card {
    @include modular-spacing('padding', 4);
    width: 100%;
    min-height: 460px;
    position: absolute;
    bottom: -80px;
    padding: 2em;
  }

  &__headline {
    @include modular-typography(4);
    @include margin(null null 0.4em);
    font-weight: $su-font-regular;
    letter-spacing: -0.016em;
  }

  &__text {
    @include modular-typography(1);
  }

  .ood-cta {
    @include margin(2em null null);
  }
}
