@charset "UTF-8";

.ood-quote-card {
  @include margin(null 100px null null);
  position: relative;
  display: flex;
  flex-direction: row;

  &__content {
    @include modular-spacing('padding', 3);
    width: calc(100% - 360px + 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 460px;
  }

  &__quote {
    @include margin(0 0 1em);
    @include padding(50px null null);
    @include modular-typography(2);
    @include serif;
    line-height: $su-base-line-height;

    &::before {
      @include margin(null null null -2px);
      font-size: 4em;
      line-height: 0.3;
      content: '\201C';
      display: block;
      color: $su-color-palo-verde-light;
      font-weight: $su-font-bold;
    }
  }

  &__name,
  &__bio {
    @include margin(null null 0);
    @include modular-typography(1);
    color: $su-color-cool-grey-75;
  }

  &__figure {
    position: absolute;
    right: -100px;
    width: 360px;
    max-width: 360px;
    align-self: center;
  }
}
