.ood-quote-slider {
  &:not(.ood-quote-slider--progress) .slick-slide[aria-hidden="true"] {
    visibility: hidden;
  }

  .ood-quote-slider__wrapper {
    @include grid-media('xl') {
      display: flex;
      align-items: center;
    }
  }

  .slick-arrow {
    z-index: 1;
    color: $su-color-palo-verde-dark;
    border: $su-color-palo-verde-dark 2px solid;
    border-radius: 100%;
    line-height: 0;
    background: transparent;
    cursor: pointer;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 100%;
    margin-top: 10px;

    @include grid-media('md') {
      width: 52px;
      height: 52px;
      margin-top: 16px;
    }

    @include grid-media('xl') {
      flex-shrink: 0;
      position: static;
    }

    svg > path {
      stroke-width: 2;
    }

    &:hover,
    &:focus {
      color: $su-color-palo-verde;
      border: $su-color-palo-verde 2px solid;
    }
  }

  .slick-prev {
    left: 50%;
    transform: translateX(-50%);
    margin-left: -55px;

    @include grid-media('md') {
      margin-left: -65px;
    }

    @include grid-media('xl') {
      margin: 0 60px 0;
      transform: none;
    }
  }

  .slick-next {
    right: 50%;
    transform: translateX(50%);
    margin-right: -55px;

    @include grid-media('md') {
      margin-right: -65px;
    }

    @include grid-media('xl') {
      margin: 0 0 0 60px;
      transform: none;
    }
  }

  .slick-slide {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
  }

  &__current-position {
    display: flex;
    justify-content: center;
    margin-top: 14px;
    margin-bottom: 26px;

    @include grid-media('md') {
      margin-top: 28px;
      margin-bottom: 40px;
    }
  }
}
