@charset "UTF-8";

// Basic Card styles including horizontal and vertical options

.ood-basic-card {
  @include box-shadow(shallow, 0);
  display: block;
  //height: 100%;

  @include grid-media-only('xs') {
    &__media {
      display: none;
    }
  }

  &__contents {
    max-width: 100rem; // For the edge-to-edge cards we don't want the content to get too wide

    p,
    ul,
    ol {
      @include small-paragraph;
      @include margin(null null 1em);
    }
  }

  &__superhead {
    @include margin(null null 0.6rem);
    display: block;
    font-size: 0.9em;
    letter-spacing: 0.06em;
  }

  &__headline {
    @include margin(null null 0.6em);
    letter-spacing: 0;
  }

  .ood-cta {
    @include modular-spacing('margin', 1 null null);

    &__button {
      @include margin(null null 0.6rem);
    }
  }
}
