@charset "UTF-8";

// Basic Card styles including horizontal and vertical options

.ood-basic-card {
  @include margin(null auto);
  width: 100%;
  border-width: 1px;
  border-style: solid;

  &.su-bg-white {
    border: 1px solid $su-color-black-10; // Only white cards have a different colored grey border
  }

  // Cards with non-white background colors
  &:not(.su-bg-white) {
    .ood-basic-card__body {
      a {
        color: $su-color-white;
        transition: background-color 0.25s ease-in;

        &:hover,
        &:focus {
          background-color: $su-color-black-true;
        }
      }
    }
  }

  &--no-image {
    @include modular-spacing('padding', 2);

    &.ood-basic-card--big-padding {
      @include grid-media('md') {
        @include padding(7.2rem);
      }

      @include grid-media('lg') {
        @include padding(7.6rem);
      }
    }
  }

  &--has-image {
    .su-media {
      @include grid-media-max('sm') {
        display: none;
      }
    }

    // Vertical cards with image
    @include grid-media('md') {
      &:not(.ood-basic-card--horizontal) {
        @include margin($card-overhang null null); // Same rem value to offset image overhang below
        height: auto;

        .su-media {
          @include margin(#{-$card-overhang} null null); // Image overhang
        }

        &.ood-basic-card--big-padding {
          .ood-basic-card__contents {
            @include padding(5rem null null);
          }
        }
      }
    }

    .ood-basic-card__contents {
      @include modular-spacing('padding', 2 null null);
    }

    // Vertical cards with image and large padding option
    &.ood-basic-card--big-padding {
      @include padding(null 3.2rem 3.2rem);

      @include grid-media-only('md') {
        @include padding(null 7.2rem 7.2rem);
      }

      @include grid-media('lg') {
        @include padding(null 7.6rem 7.6rem);
      }
    }
  }

  &__superhead {
    @include margin(-0.4rem null 1.6rem);
  }

  &__headline {
    @include margin(-0.2em null 0.6em); // Negative margin at the top so headline lines up with top of image for horizontal cards
    @include modular-typography(2);
    letter-spacing: 0;

    &--large {
      @include grid-media('md') {
        @include modular-typography(3);
      }

      @include grid-media('lg') {
        @include modular-typography(4);
      }
    }
  }

  &__contents {
    max-width: 91rem; // For the edge-to-edge cards we don't want the content to get too wide

    // Inside Richtext component inside card body
    p,
    ul,
    ol {
      @include ood-small-paragraph;
    }
  }

  &:not(.ood-basic-card--big-padding) {
    @include modular-spacing('padding', null 2 2);
  }

  &__body {
    > div {
      > *:last-child {
        @include margin(null null 0); // Last element inside Richtext component has no bottom margin

        > *:last-child {
          @include margin(null null 0); // If last element inside Richtext has child elements (eg, li inside ul) - also no bottom margin

          > *:last-child {
            @include margin(null null 0); // When there is a <p> element inside that last li element
          }
        }
      }
    }

    li {
      p {
        @include margin(null null 0.4em);
      }
    }
  }

  .ood-cta {
    @include modular-spacing('margin', 1 null null);

    &__button {
      @include margin(null null 0.6rem);
    }
  }
}

.ood-basic-card--horizontal {
  @include modular-spacing('padding', 2);
  display: flex;
  flex-direction: row;

  .ood-basic-card__contents {
    @include padding(0 null null);
  }

  // Horizontal card with image
  &.ood-basic-card--has-image {
    @include grid-media('md') {
      @include margin(null null null 8rem);
      width: auto;

      .ood-basic-card__media {
        position: absolute;
        left: #{-$card-overhang}; // image overhang
        width: 20rem;
        max-width: 20rem;
      }

      .ood-basic-card__contents {
        @include margin(null 0 null null);
        width: calc(100% - 20rem + #{$card-overhang});
        min-height: 20rem; // Horizontal card with image needs a min-height
      }
    }

    // Horizontal card with 3:2 image
    .ood-media--3x2 {
      @include grid-media('md') {
        width: 26rem;
        max-width: 26rem;

        + .ood-basic-card__contents {
          width: calc(100% - 26rem + 8rem);
          min-height: 17.3rem;
        }
      }

      @include grid-media('xl') {
        width: 32rem;
        max-width: 32rem;

        + .ood-basic-card__contents {
          width: calc(100% - 32rem + 8rem);
          min-height: 21.3rem;
        }
      }

      @include grid-media('2xl') {
        width: 38rem;
        max-width: 38rem;

        + .ood-basic-card__contents {
          width: calc(100% - 38rem + 8rem);
          min-height: 25.3rem;
        }
      }
    }

    // Horizontal card with image and the large padding option
    &.ood-basic-card--big-padding {
      @include grid-media-only('md') {
        @include padding(7.2rem null null);
      }

      @include grid-media('lg') {
        @include padding(7.6rem null null);
      }

      .ood-basic-card__contents {
        @include grid-media('md') {
          width: calc(100% - 8rem);
        }
      }

      // Horizontal card with large padding and 3:2 image
      .ood-media--3x2 {
        + .ood-basic-card__contents {
          @include grid-media('md') {
            width: calc(100% - 14rem);
          }

          @include grid-media('xl') {
            width: calc(100% - 20rem);
          }

          @include grid-media('2xl') {
            width: calc(100% - 26rem);
          }
        }
      }
    }
  }
}
