@charset "UTF-8";

// Campaign Cards
.ood-campaign-card {
  &__media {
    margin-bottom: 20px;

    @include grid-media('md') {
      margin-bottom: 26px;
    }
  }

  &__image {
    transition: transform 0.25s ease-in;
  }

  &__link {
    margin-bottom: 10px;
    text-decoration: none;
  }

  &__superhead {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.05em;
    color: $su-color-black-80;
    margin-bottom: 8px;

    @include grid-media-only('md') {
      margin-bottom: 13px;
    }
  }

  &__headline {
    display: inline-block;
    align-items: center;
    margin: 0;

    @include grid-media-only('lg') {
      font-size: 26px;
    }

    @include grid-media-only('xl') {
      font-size: 26px;
    }

    &::after {
      background-color: currentColor;
      height: .4em;
      width: .4em;
      vertical-align: middle;
    }

    &--internal {
      @include link-icon(arrow-right, 0.6em, right, -0.18em);
    }
  }

  &__description {
    font-size: 20px;
    margin-top: 11px;
    color: $su-color-black-80;
    line-height: 125%;

    @include grid-media-only('md') {
      margin-top: 26px;
    }
  }

  &__link {
    &:hover,
    &:focus {
      .ood-campaign-card__image {
        transform: scale(1.03);
      }

      .ood-campaign-card__headline {
        &::after {
          transform: translateX(0.2em);
        }

        &:hover,
        &:focus{
          &::after {
            background-color: currentColor;
          }
        }
      }
    }
  }
}
