@charset "UTF-8";

// Common styles shared between more than 1 card types

.ood-tile-card,
.ood-icon-card,
.ood-support-card,
.ood-story-card,
.ood-basic-card,
.ood-quote-card {
  position: relative;
  display: block;
  overflow-wrap: break-word;
}

.ood-tile-card,
.ood-icon-card,
.ood-support-card,
.ood-story-card {
  &__headline {
    &.su-link--external {
      @include padding(null 0.6em null null); // Padding right to offset the overflow of the right margin below

      // External link icon
      &::after {
        @include margin(null -0.6em null 0.24em); // Negative right margin to prevent icon from wrapping to 2nd line on its own
        width: 0.36em;
        height: 0.36em;
      }
    }
  }
}

.ood-tile-card,
.ood-story-card,
.ood-icon-card,
.ood-support-card {
  &__link {
    display: block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    height: 100%;
    transition: color 0.25s ease-in, box-shadow 0.25s ease-in;
    color: transparent;

    &:hover,
    &:focus {
      color: transparent;
    }
  }
}

.ood-tile-card,
.ood-story-card {
  &__link {
    display: block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    height: 100%;
    transition: color 0.25s ease-in, box-shadow 0.25s ease-in;
    color: transparent;

    &:hover,
    &:focus {
      img {
        transform: scale(1.03);
      }
    }
  }

  &__image {
    transition: transform 0.25s ease-in;
  }
}

.ood-tile-card,
.ood-basic-card {
  &__superhead {
    @include ood-superhead;
  }
}

// If icon cards or support cards are placed in a 3-column row or column grid,
// have them go to 9 of 12 columns with when they start stacking
.row--3-columns,
.column-grid {
  @include grid-media-only('sm') {
    .flex-md-4-of-12,
    .flex-lg-4-of-12 {
      .ood-support-card,
      .ood-icon-card {
        @include margin(null auto);
        @include flex-column(9, $su-gutter-sm);
      }
    }
  }

  @include grid-media-only('md') {
    .flex-lg-4-of-12 {
      .ood-support-card,
      .ood-icon-card {
        @include margin(null auto);
        @include flex-column(9, $su-gutter-md);
      }
    }
  }
}

// For Row with 1 or 2 Column component, cards have max-width when they stack on SM breakpoint
.row--2-columns,
.row--1-column {
  @include grid-media-only('sm') {
    .ood-support-card,
    .ood-icon-card {
      @include margin(null auto);
      @include flex-column(9, $su-gutter-sm);
    }
  }
}
