@charset "UTF-8";

// Common styles shared between more than 1 card types

.ood-tile-card,
.ood-icon-card,
.ood-support-card,
.ood-story-card,
.ood-basic-card,
.ood-quote-card {
  position: relative;
  display: block;
  overflow-wrap: break-word;
}

.ood-tile-card,
.ood-icon-card,
.ood-support-card,
.ood-story-card {
  &__headline {
    // External link icon
    &::after {
      @include margin(null null null 0.3em);
      width: 14px;
      height: 14px;
    }
  }
}

.ood-tile-card,
.ood-story-card,
.ood-icon-card,
.ood-support-card {
  &__link {
    display: block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    height: 100%;
    transition: color 0.25s ease-in, box-shadow 0.25s ease-in;
    box-shadow: $ood-shadow--shallow;
    color: transparent;

    &:hover,
    &:focus {
      color: transparent;
      box-shadow: $ood-shadow--medium;
    }
  }
}

.ood-tile-card,
.ood-story-card {
  &__link {
    display: block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    height: 100%;
    transition: color 0.25s ease-in, box-shadow 0.25s ease-in;
    box-shadow: $ood-shadow--shallow;
    color: transparent;

    &:hover,
    &:focus {
      img {
        transform: scale(1.03);
      }
    }
  }

  &__image {
    transition: transform 0.25s ease-in;
  }
}

.ood-tile-card,
.ood-basic-card {
  &__superhead {
    @include ood-superhead;
  }
}
