.gallery-slideshow--slide {
  .ood-gallery-slide__image {
    object-fit: contain;
    object-position: bottom;
  }
}

.gallery-slideshow--controls {
  position: relative;
}

.gallery-slideshow--pager {
  list-style: none;
  padding-left: 5rem;

  & > li {
    display: inline-block;
    margin-left: 2.6rem;
  }
}

.gallery-slideshow--thumbnail {
  box-sizing: content-box;
  width: 10rem;
  height: 5.625rem;
  opacity: 0.4;
  display: inline-block;
}
.slick-active .gallery-slideshow--thumbnail {
  opacity: 1;
  border: $su-color-palo-verde-dark 5px solid;
}

.gallery-slideshow--prev,
.gallery-slideshow--next {
  top: 0;
  position: absolute;
  z-index: 1;
  color: $su-color-palo-verde-dark;
  width: 5.5rem;
  height: 5.5rem;
  border: $su-color-palo-verde-dark 3px solid;
  border-radius: 100%;
  line-height: 0;
  padding: 1.5rem;
  background: transparent;
}

.gallery-slideshow--prev {
  left: 0;
}
.gallery-slideshow--next {
  right: 0;
}


