@charset "UTF-8";

// OOD Icon Card style

.ood-icon-card {
  width: 100%;
  background-color: transparent;

  &__icon {
    font-size: 2em;
  }

  &__headline {
    @include modular-typography(2);
    letter-spacing: -0.016em;

    &::after {
      background-color: $su-color-white;
    }
  }

  &__contents {
    @include modular-spacing('margin', 1 null null);
  }

  &__link {
    @include modular-spacing("padding", 4 3 5);

    &:hover,
    &:focus {
      .ood-icon-card__headline {
        text-decoration: underline;

        &::after {
          color: $su-color-white;
          transform: translate3d(0.15em, -0.15em, 0);
        }
      }
    }

    &.su-bg-white {
      .ood-icon-card__headline {
        &::after {
          background-color: $su-color-black;
        }
      }

      &:hover,
      &:focus {
        .ood-icon-card__headline {
          color: $su-color-digital-red;

          &::after {
            background-color: $su-color-digital-red;
          }
        }
      }
    }
  }
}
