@charset "UTF-8";

// OOD Icon Card style

.ood-icon-card {
  width: 100%;
  background-color: transparent;

  &__icon {
    font-size: 2em;
  }

  &__headline {
    @include modular-typography(2);
    letter-spacing: -0.016em;

    @include grid-media('xl') {
      @include modular-typography(3);
    }
  }

  &__contents {
    @include modular-spacing('margin', 1 null null);
  }

  &__link {
    @include modular-spacing("padding", 4 3 5);

    &:hover,
    &:focus {
      .ood-icon-card__headline {
        text-decoration: underline;
      }
    }

    &.su-bg-white {
      &:hover,
      &:focus {
        .ood-icon-card__headline {
          color: $su-color-digital-red;
        }
      }
    }
  }
}
