$default-size: 1em;

.impact-cards {
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  font-size: 25rem;

  @include grid-media('md') {
    flex-direction: row;
    align-items: unset;
    font-size: 15.5rem;
  }

  @include grid-media('lg') {
    font-size: 19rem;
  }

  @include grid-media('xl') {
    font-size: 24rem;
  }

  @include grid-media('2xl') {
    font-size: 25rem;
  }

  // Set a static spacing if there are ledd than 4 items.
  &--not-maxed {
    @include grid-media('md') {
      justify-content: center;
    }
  }
}

.impact-card {
  text-align: center;
  width: 100%;
  max-width: $default-size;
  margin-bottom: 4rem;

  @include grid-media('md') {
    margin-bottom: 0;
  }

  &--not-maxed {
    @include grid-media('md') {
      margin-left: 5.6rem;
      margin-right: 5.6rem;
    }
  }

  &__wrapper {
    width: $default-size;
    height: $default-size;
    position: relative;
    margin-bottom: 1.7rem;
  }

  &__label {
    @include serif;
    font-weight: $su-font-bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 4rem);
    height: calc(100% - 4rem);
    display: flex;
    align-items: center;
    justify-content: center;
    background: $su-color-white;
    border-radius: 50%;
    font-size: 1.6rem;

    @include grid-media-between('md', 'xl') {
      font-size: 1rem;
    }

    @include grid-media-between('md', 'lg') {
      width: calc(100% - 2rem);
      height: calc(100% - 2rem);
    }
  }

  &__shadow {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $su-color-foggy-light;
  }

  &__circle {
    width: 100%;
    height: 100%;
    clip: rect(0, $default-size, $default-size, $default-size / 2);
    left: 0;
    position: absolute;
    top: 0;

    &--more-than-half {
      clip: rect(auto, auto, auto, auto);
    }

    &--left-side {
      transform: rotate(var(--percent));
    }

    &--right-side {
      transform: rotate(180deg);
    }
  }

  &__half-circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0, $default-size / 2, $default-size, 0);
    left: 0;
    position: absolute;
    top: 0;
  }

  &__description {
    font-size: 1.6rem;
  }
}
