@charset "UTF-8";

.ood-quote-card {
  position: relative;
  display: flex;
  flex-direction: row;

  &__media {
    position: absolute;
    right: -8rem; // image overhang
    width: 30rem;
    max-width: 30rem;
    align-self: center;

    @include grid-media-between('sm', 'lg') {
      width: 24vw;
      max-width: 24vw;
    }
  }

  &__content {
    @include modular-spacing('padding', 4 3);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__quote {
    @include margin(0);
    @include padding(1.3em null null);
    line-height: $su-base-line-height;

    &::before {
      @include margin(null null null -2px);
      font-size: 4em;
      line-height: 0.3;
      content: '\201C';
      display: block;
      color: $su-color-palo-verde-light;
      font-weight: $su-font-bold;
    }
  }

  &__source {
    @include margin(null null 0);
    @include modular-typography(1);
    max-width: 55rem;

    > div {
      > *:last-child {
        @include margin(null null 0); // Last paragraph in WYSIWYG
      }
    }
  }

  // Styles for version showing image
  &--has-image {
    @include margin(null 8rem null null);

    .ood-quote-card__content {
      width: calc(100% - 30rem + 8rem); // 100% minus the image width but add back the overhang amount
      min-height: 42rem;
    }

    @include grid-media-between('sm', 'lg') {
      .ood-quote-card__content {
        width: calc(100% - 24vw + 8rem); // 100% minus the image width but add back the overhang amount
      }
    }
  }
}
