@charset "UTF-8";

.ood-quote-card {
  position: relative;
  display: flex;
  flex-direction: column-reverse;

  @include grid-media('lg') {
    flex-direction: row;
  }

  &__content {
    @include responsive-spacing('padding', 3 4 4);
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include grid-media('lg') {
      @include responsive-spacing('padding', 3 5 4);
    }
  }

  &__quote {
    @include margin(0);
    @include padding(2em null null);
    line-height: $su-base-line-height;

    &::before {
      @include margin(null null null -2px);
      font-size: 5em;
      line-height: 0.1;
      content: '\201C';
      display: block;
      color: $su-color-palo-verde-light;
      font-weight: $su-font-bold;
    }

    &.su-mod-type-2 {
      @include grid-media-max('md') {
        @include modular-typography(1);
      }
    }
  }

  &__source {
    @include margin(null null 0);
    @include modular-typography(1);
    max-width: 55rem;

    > div {
      > *:last-child {
        @include margin(null null 0); // Last paragraph in WYSIWYG
      }
    }
  }

  &__media {
    width: 13rem;
    max-width: 13rem;

    @include grid-media-max('md') {
      @include margin(#{-$card-overhang} null null);
    }

    @include grid-media-max('sm') {
      @include margin(null get-responsive-spacing-value(4, 'mobile') null auto);
    }

    @include grid-media-only('md') {
      @include margin(null get-responsive-spacing-value(4, 'tablet') null auto);
    }

    @include grid-media-between('md', 'lg') {
      width: 20rem;
      max-width: 20rem;
    }

    @include grid-media('lg') {
      position: absolute;
      right: #{-$card-overhang};
      align-self: center;
    }

    @include grid-media('xl') {
      width: 30rem;
      max-width: 30rem;
    }
  }

  // Styles for version showing image
  &--has-image {
    @include grid-media-max('md') {
      @include margin(#{$card-overhang} null null);
    }

    @include grid-media('lg') {
      @include margin(null $card-overhang null null);
    }

    .ood-quote-card__content {
      @include grid-media-max('md') {
        @include padding(0 null null);
      }

      @include grid-media-max('sm') {
        @include margin(-1em null null);
      }

      @include grid-media-only('md') {
        @include margin(-1.3em null null);
      }

      @include grid-media('lg') {
        @include responsive-spacing('padding', 3 3 4 5);
      }

      @include grid-media-only('lg') {
        width: calc(100% - 20rem + #{$card-overhang}); // 100% minus the image width but add back the overhang amount
        min-height: 32rem;
      }

      @include grid-media('xl') {
        width: calc(100% - 30rem + #{$card-overhang}); // 100% minus the image width but add back the overhang amount
        min-height: 42rem;
      }
    }
  }
}

// If quote card with image is placed inside interior page body content, place the image at the top right
.ood-interior-page__body-content {
  .ood-quote-card--has-image {
    @include grid-media-between('lg', 'xl') {
      @include margin(#{$card-overhang} 0 null null);
      flex-direction: column-reverse;

      .ood-quote-card__media {
        @include margin(#{-$card-overhang} 5.8rem null auto);
        position: relative;
        right: 0;
        width: 20rem;
        max-width: 20rem;
      }

      .ood-quote-card__content {
        @include padding(0 5.8rem 5.8rem);
        @include margin(-1.3em null null);
        width: 100%;
      }
    }

    @include grid-media-only('xl') {
      .ood-quote-card__media {
        width: 22rem;
        max-width: 22rem;
      }
    }
  }
}
