@charset "UTF-8";

// OOD Story Card style

.ood-story-card {
  &--has-image {
    &:not(.ood-story-card--horizontal) {
      @include grid-media('sm') {
        border-top: $card-overhang solid transparent;

        .su-media {
          @include margin(#{-$card-overhang} null null);
          @include modular-spacing('margin', null 2);
        }
      }

      // Hide image for vertical cards at XS breakpoint
      @include grid-media-only('xs') {
        .su-media {
          display: none;
        }
      }
    }

    // Horizontal card behaves same way as vertical card at XS breakpoint (but with image visible)
    &.ood-story-card--horizontal {
      @include grid-media-only('xs') {
        border-top: $card-overhang solid transparent;

        .su-media {
          @include margin(#{-$card-overhang} null null);
          @include modular-spacing('margin', null 2);
        }
      }
    }
  }

  &__image {
    transition: transform 0.25s ease-in;
  }

  &__headline {
    @include modular-spacing('margin', 2 null null);
    @include margin(null null 0.6em);
    @include modular-typography(2);
    letter-spacing: -0.016em;

    @include grid-media('xl') {
      @include modular-typography(3);
    }
  }

  &__link {
    &:hover,
    &:focus {
      .ood-story-card__headline {
        color: $su-color-digital-red;
        text-decoration: underline;
      }

      .ood-story-card__image {
        transform: scale($card-image-zoom);
      }
    }
  }

  &--horizontal {
    .ood-story-card__headline {
      @include margin(-0.2em null 0.6em); // Negative margin at the top so headline lines up with top of image for horizontal cards
    }

    .ood-story-card__headline {
      @include modular-spacing('margin', 2 null null);
      @include modular-typography(3);

      @include grid-media('xl') {
        @include modular-typography(4);
      }
    }

    .ood-story-card__body {
      @include grid-media('xl') {
        @include modular-typography(1);
      }
    }

    &.ood-story-card--has-image {
      @include grid-media('sm') {
        @include margin(null $h-story-card-overhang null null);

        .ood-story-card__link {
          display: flex;
          flex-direction: row-reverse;
        }

        .su-media {
          @include margin(null #{-$h-story-card-overhang} null null); // Image overhang (half of image width)
          @include modular-spacing('margin', 3 null);
          max-width: $h-story-card-image-width;
          width: $h-story-card-image-width;
        }

        .ood-story-card__contents {
          @include modular-spacing('padding', null 2 null 3);
          max-width: calc(100% - #{$h-story-card-image-width} + #{$h-story-card-overhang});
        }
      }

      @include grid-media('2xl') {
        @include margin(null $h-story-card-max-overhang null null);

        .su-media {
          @include margin(null #{-$h-story-card-max-overhang} null null);
          max-width: $h-story-card-max-image-width;
          width: $h-story-card-max-image-width;
        }

        .ood-story-card__contents {
          max-width: calc(100% - #{$h-story-card-max-image-width} + #{$h-story-card-max-overhang})
        }
      }
    }
  }

  &__body {
    @include margin(null null 0);
    @include ood-small-paragraph;
  }
}

.ood-curated-stories__other {
  .ood-story-card {
    @include modular-spacing('margin', null null 3);
  }
}
