@charset "UTF-8";

// OOD Story Card style

.ood-story-card {
  @include margin(null auto);
  position: relative;
  display: block;
  height: 100%;

  &--has-image {
    &:not(.ood-story-card--horizontal) {
      border-top: 8rem solid transparent; // The transparent border compensate for the 80px image overhang

      .su-media {
        @include margin(-8rem null null); // Image overhang
        @include modular-spacing('margin', null 2);
      }
    }
  }

  &__image {
    transition: transform 0.25s ease-in;
  }

  &__headline {
    @include modular-spacing('margin', 2 null null);
    @include margin(null null 0.6em);
    letter-spacing: -0.016em;

    // External link icon
    &::after {
      @include margin(null null null 0.3em);
      width: 14px;
      height: 14px;
    }
  }

  &__link {
    display: block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    height: 100%;
    color: transparent;
    transition: color 0.25s ease-in;
    box-shadow: $ood-shadow--shallow;

    &:hover,
    &:focus {
      color: transparent;

      .ood-story-card__headline {
        color: $su-color-digital-red;
        text-decoration: underline;
      }

      .ood-story-card__image {
        transform: scale(1.03);
      }
    }
  }

  &--horizontal {
    .ood-story-card__headline {
      @include margin(-0.2em null 0.6em); // Negative margin at the top so headline lines up with top of image for horizontal cards
    }
  }

  &__body {
    @include margin(null null 0);
    font-size: 1.8rem;
    line-height: 1.3;

    @include grid-media('xl') {
      font-size: 2rem;
    }
  }
}
