@charset "UTF-8";

// OOD Story Card style

.ood-story-card {
  position: relative;
  display: block;
  height: 100%;

  &--has-image {
    &:not(.ood-story-card--horizontal) {
      border-top: 8rem solid transparent; // The transparent border compensate for the 80px image overhang

      .su-media {
        @include margin(-8rem null null); // Image overhang
        @include modular-spacing('margin', null 2);
      }
    }
  }

  &__image {
    transition: transform 0.25s ease-in;
  }

  &__headline {
    @include modular-spacing('margin', 2 null null);
    @include margin(null null 0.6em);
    @include modular-typography(2);
    letter-spacing: -0.016em;

    @include grid-media('xl') {
      @include modular-typography(3);
    }

    // External link icon
    &::after {
      @include margin(null null null 0.3em);
      width: 14px;
      height: 14px;
    }
  }

  &__link {
    display: block;
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    height: 100%;
    color: transparent;
    transition: color 0.25s ease-in;
    box-shadow: $ood-shadow--shallow;

    &:hover,
    &:focus {
      color: transparent;

      .ood-story-card__headline {
        color: $su-color-digital-red;
        text-decoration: underline;
      }

      .ood-story-card__image {
        transform: scale(1.03);
      }
    }
  }

  &--horizontal {
    .ood-story-card__headline {
      @include margin(-0.2em null 0.6em); // Negative margin at the top so headline lines up with top of image for horizontal cards
    }

    .ood-story-card__headline {
      @include modular-spacing('margin', 2 null null);
      @include modular-typography(3);

      @include grid-media('xl') {
        @include modular-typography(4);
      }
    }

    &.ood-story-card--has-image {
      @include margin(null 20vw null null);

      .ood-story-card__link {
        display: flex;
        flex-direction: row-reverse;
      }

      .su-media {
        @include margin(null -20vw null null); // Image overhang (half of image width)
        @include modular-spacing('margin', 3 null);
        max-width: 40vw;
        width: 40vw;
      }

      .ood-story-card__contents {
        @include modular-spacing('padding', null 2 null 3);
        max-width: calc(100% - 40vw + 20vw)
      }

      @include grid-media('2xl') {
        @include margin(null 30rem null null);

        .su-media {
          @include margin(null -30rem null null); // Image overhang (half of image width)
          max-width: 60rem;
          width: 60rem;
        }

        .ood-story-card__contents {
          max-width: calc(100% - 60rem + 30rem)
        }
      }

    }
  }

  &__body {
    @include margin(null null 0);
    font-size: 1.8rem;
    line-height: 1.3;

    @include grid-media('xl') {
      font-size: 2rem;
    }
  }
}

.ood-curated-stories__other {
  @include margin(null null -4.75rem);

  .ood-story-card {
    @include modular-spacing('margin', null null 3);
  }
}
