@charset "UTF-8";

// Area to Support Cards

.ood-support-card {
  @include margin(null auto);
  height: 100%;
  background-color: transparent;

  &__contents {
    position: relative;

    > .ood-support-card__headline {
      @include modular-typography(2);
      font-weight: $su-font-regular;

      @include grid-media('xl') {
        @include modular-typography(4);
      }
    }

    .ood-support-card__icon {
      font-size: 3em;
    }
  }

  &__link {
    @include modular-spacing("padding", 4);
    height: 100%;
    position: relative;
  }

  &__contents {
    @include grid-media('md') {
      min-height: 280px;
    }
  }

  &__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 4rem;
    text-align: right;
  }
}