@charset "UTF-8";

// Area to Support Cards

.ood-support-card {
  height: 100%;
  background-color: transparent;

  &__contents {
    position: relative;

    > .ood-support-card__headline {
      @include modular-typography(3);
      @include margin(null null 0);
      letter-spacing: -0.016em;
    }
  }

  &__icon {
    font-size: 3em;
  }

  > a {
    border-color: transparent;

    &::after {
      display: block;
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.25s ease-in;
    }

    &:hover,
    &:focus {
      border-color: transparent;

      &::after {
        background-color: rgba(0, 0, 0, 0.3);
      }

      .ood-support-card__headline {
        text-decoration: underline;
      }

      .ood-support-card__icon {
        font-size: 3.3em;
      }
    }
  }

  &__link {
    @include modular-spacing("padding", 3);
    height: 100%;
    position: relative;

    @include grid-media('2xl') {
      @include padding(6.1rem);
    }
  }

  &__contents {
    min-height: 20rem;
    z-index: 100;

    @include grid-media('md') {
      min-height: 26rem;
    }
  }

  &__icon {
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    transition: font-size 0.25s ease-in;
  }

  // Overriding Decanter .su-card--link
  &.su-card--link {
    // All cards with dark background + white text will have white hover/focus text colors
    &.su-text-white {
      > a,
      > a:hover,
      > a:focus {
        color: $su-color-white;

        .ood-support-card__headline {
          color: $su-color-white;
        }
      }
    }
  }
}
