@charset "UTF-8";

// Area to Support Cards

.ood-support-card {
  height: 100%;
  background-color: transparent;

  &__contents {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 16rem;
    z-index: 10;

    @include grid-media('sm') {
      min-height: 25rem;
    }

    @include grid-media('xl') {
      min-height: 28rem;
    }
  }

  &__headline {
    @include modular-typography(2);
    @include margin(null null 1rem);
    letter-spacing: -0.016em;
    flex-basis: auto;
    flex-grow: 1; // This makes the icon sticks to the bottom of the card

    // Headline font sizes need to be finetuned between below breakpoints
    @include grid-media-between('lg', 'xl') {
      @include fluid-type(25px, 34px, 992px, 1499px);
    }

    @media only screen and (min-width: 1500px) and (max-width: 1699px) {
      @include fluid-type(34px, 37px, 1500px, 1699px);
    }

    @media only screen and (min-width: 1700px) {
      @include modular-typography(3);
    }

    &::after {
      background-color: $su-color-white;
    }
  }

  &__icon {
    display: block;
    flex-basis: 0;
    font-size: 3em;
    text-align: right;

    &::before {
      transform-origin: right bottom;
      transition: font-size 0.25s ease-in;
    }
  }

  &__link {
    @include responsive-spacing('padding', 3);
    height: 100%;
    position: relative;
    border-color: transparent;

    @include grid-media-only('lg') {
      @include padding(get-responsive-spacing-value(1, 'desktop'));
    }

    @include grid-media('2xl') {
      @include padding(get-responsive-spacing-value(4, 'desktop'));
    }

    &:hover,
    &:focus {
      border-color: transparent;

      .ood-support-card__headline {
        text-decoration: underline;

        &::after {
          background-color: $su-color-white;
          transform: translate3d(0.15em, -0.15em, 0);
        }
      }

      .ood-support-card__icon {
        font-size: 3.3em;
      }
    }

    &.su-bg-white {
      .ood-support-card__headline {
        color: $su-color-black;

        &::after {
          background-color: $su-color-black;
        }
      }

      .ood-support-card__icon {
        color: $su-color-black;
      }

      &:hover,
      &:focus {
        .ood-support-card__headline {
          color: $su-color-digital-red;

          &::after {
            background-color: $su-color-digital-red;
          }
        }
      }
    }

    // Darkened mask over whole card visible on hover/focus for non-white cards
    &:not(.su-bg-white) {
      &::after {
        display: block;
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        transition: background-color 0.25s ease-in;
      }

      &:hover,
      &:focus {
        &::after {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }
}

.row--3-columns,
.column-grid {
  @include grid-media-between('sm', 'md') {
    .flex-lg-4-of-12 {
      .ood-support-card__contents {
        min-height: 18rem;
      }
    }
  }
}

.row--1-column {
  @include grid-media-only('md') {
    .ood-support-card__contents {
      min-height: 18rem;
    }
  }
}

.row--2-columns,
.row--1-column {
  @include grid-media-only('sm') {
    .ood-support-card__contents {
      min-height: 18rem;
    }
  }
}

.row--2-columns {
  @include grid-media-only('md') {
    .flex-lg-6-of-12 {
      .ood-support-card {
        @include margin(null auto);
        flex-basis: calc(75% - 9px);
        max-width: calc(75% - 9px);
      }

      .ood-support-card__contents {
        min-height: 18rem;
      }
    }
  }
}
