@charset "UTF-8";

// Tile Cards style (I Want to Cards)

.ood-tile-card {
  &__superhead {
    @include margin(null null 0.4em);

    @include grid-media('md') {
      @include margin(null null 0.8em);
    }

    @include grid-media-between('md', 'lg') {
      font-size: 0.8em;
      font-weight: $su-font-semi-bold;
    }

    @include grid-media('xl') {
      font-weight: $su-font-bold;
    }
  }

  &__headline {
    @include modular-typography(2);
    @include margin(null null 0);
    letter-spacing: -0.016em;

    @include grid-media('md') {
      @include modular-typography(1);
    }

    @include grid-media('lg') {
      @include modular-typography(2);
    }

    @include grid-media('xl') {
      @include modular-typography(3);
    }
  }

  &__link {
    &:hover,
    &:focus {
      .ood-tile-card__headline {
        text-decoration: underline;
      }
    }

    &:not(.su-bg-white) {
      border-color: transparent; // Only white cards have the grey border
    }
  }

  &__contents {
    @include padding(get-responsive-spacing-value(3, 'mobile'));
    position: relative;
    z-index: 10;

    @include grid-media-only('md') {
      min-height: 22rem;
    }

    @include grid-media-only('lg') {
      min-height: 30rem;
    }

    @include grid-media('xl') {
      min-height: 34rem;
    }
  }

  &--has-image {
    @include grid-media-only('md') {
      border-top: 4rem solid transparent;
    }

    @include grid-media('lg') {
      border-top: #{$card-overhang} solid transparent;
    }

    .su-media {
      z-index: 12;
      position: relative;

      // Hide image for vertical cards at XS and SM breakpoint
      @include grid-media-max('sm') {
        display: none;
      }

      @include grid-media-only('md') {
        @include margin(-4rem 2rem null);
      }

      @include grid-media('lg') {
        @include margin(#{-$card-overhang} null null);
        @include margin(null 3.6rem);
      }

      @include grid-media('2xl') {
        @include margin(null 3.8rem);
      }
    }

    .ood-tile-card__contents {
      @include grid-media-only('md') {
        @include padding(get-responsive-spacing-value(1, 'mobile'));
      }

      @include grid-media('lg') {
        @include padding(get-responsive-spacing-value(2, 'tablet'));
      }

      @include grid-media('2xl') {
        @include padding(get-responsive-spacing-value(2, 'desktop'));
      }
    }
  }

  &--no-image {
    // No image cards have bigger horizontal padding
    .ood-tile-card__contents {
      @include grid-media-only('md') {
        @include padding(get-responsive-spacing-value(2, 'mobile') get-responsive-spacing-value(1, 'mobile'));
      }

      @include grid-media('lg') {
        @include padding(get-responsive-spacing-value(3, 'tablet'));
      }

      @include grid-media('2xl') {
        @include padding(get-responsive-spacing-value(4, 'desktop'));
      }
    }

    .su-media {
      display: none;
    }
  }

  > a {
    height: 100%;
  }
}

.ood-tile-card__link {
  // All cards with light background + black text will have black hover/focus text colors
  .ood-tile-card__headline,
  .ood-tile-card__superhead {
    color: $su-color-black;
  }

  .ood-tile-card__headline {
    &::after {
      background-color: $su-color-digital-red;
    }
  }

  &:hover,
  &:focus {
    .ood-tile-card__headline {
      color: $su-color-black;
      text-decoration: underline;

      &::after {
        background-color: $su-color-digital-red;
        transform: translate3d(0.15em, -0.15em, 0);
      }
    }

    .ood-tile-card__superhead {
      color: $su-color-black;
      text-decoration: none;
    }
  }

  // All cards with dark background + white text will have white hover/focus text colors
  &:not(.su-bg-white):not(.su-bg-fog-light) {
    .ood-tile-card__headline,
    .ood-tile-card__superhead {
      color: $su-color-white;
    }

    .ood-tile-card__headline {
      &::after {
        background-color: $su-color-white;
      }
    }

    &:hover,
    &:focus {
      box-shadow: $ood-shadow--medium-dark;

      .ood-tile-card__headline {
        &::after {
          background-color: $su-color-white;
        }
      }
    }

    &:hover,
    &:focus {
      .ood-tile-card__headline,
      .ood-tile-card__superhead {
        color: $su-color-white;
      }
    }

    &::after {
      display: block;
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color 0.25s ease-in;
    }

    &:hover,
    &:focus {
      &::after {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}
