@charset "UTF-8";

// Tile Cards style (I Want to Cards)

.ood-tile-card {
  @include margin(null auto);
  background-color: transparent;
  max-width: 80rem;

  &__media,
  &__image {
    @include grid-media-only('xs') {
      display: block;
    }
  }

  .su-card__contents {
    > .ood-tile-card__headline {
      @include modular-typography(2);

      @include grid-media('xl') {
        @include modular-typography(3);
      }
    }

    .ood-tile-card__superhead {
      @include margin(null null 1em);

      @include grid-media('lg') {
        letter-spacing: 0.06em;
      }
    }
  }

  &__contents {
    @include grid-media('md') {
      min-height: 40rem;
    }
  }

  &__link {
    &:not(.su-bg-white) {
      border-color: transparent; // Only white cards have the grey border
    }
  }

  &--has-image {
    border-top: 8rem solid transparent; // The transparent border compensate for the 80px image overhang

    .su-media {
      @include margin(-8rem null null);
      @include modular-spacing('margin', null 2);
    }
  }

  &--no-image {
    .su-card__contents {
      @include modular-spacing("padding", 4 3);
    }

    .su-media {
      display: none;
    }
  }

  > a {
    height: 100%;
  }

  .row--3-columns & {
    height: 100%;
  }

  // Overriding Decanter .su-card--link
  &.su-card--link {
    // All cards with dark background + white text will have white hover/focus text colors
    &.su-text-white {
      > a,
      > a:hover,
      > a:focus {
        color: $su-color-white;

        h2 {
          color: $su-color-white;
        }
      }
    }

    // All cards with light background + black text will have black hover/focus text colors
    &:not(.su-text-white) {
      > a,
      > a:hover,
      > a:focus {
        color: $su-color-black;

        h2 {
          color: $su-color-black;
        }
      }
    }
  }
}
