@charset "UTF-8";

// Content (Secondary) Navigation Menu on the sidebar

.ood-content-nav {
  background-color: transparent;

  &__menu-group {
    @include responsive-spacing('padding', null null 1);
  }

  &__title {
    @include responsive-spacing('margin', null null 1);
    @include responsive-spacing('padding', 0 null null);
    border-top: 1px solid $su-color-black-40;
    font-size: 1.6rem;
    font-weight: $su-font-bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
  }

  &__menu {
    background-color: transparent;

    &-lv1 {
      @include padding(null null null 0);
    }

    &-lv3 {
      .ood-content-nav__link {
        @include padding(.8rem 4.8rem .8rem 2.4rem);
      }
    }
  }

  &__link {
    @include padding(1.2rem null);
    color: $su-color-digital-red;
    border-top: 0;

    &::after {
      background-color: $su-color-digital-red;
    }

    &:hover,
    &:focus {
     @include navigation-item--black;

      &::after {
        background-color: $su-color-digital-red;
      }
    }

    &--active {
      @include navigation-item--black;

      + ul {
        display: block;
      }

      &::before {
        visibility: visible;
        content: "";
        position: absolute;
        z-index: 1;
        height: 100%;
        transform: scaleY(1);
        width: 6px;
        bottom: 0;
        left: 0;
        //background-color: $su-color-digital-red;
        transition: transform 0.3s ease-in, background-color 0.3s ease-in;
      }

      &:hover,
      &:focus {
        &::before {
          left: 6px;
          transition: left 0.1s ease-in;
        }
      }
    }
  }

  // This is to override a property in Decanter
  .ood-content-nav__menu {
    .ood-content-nav__menu-lv3 {
      .ood-content-nav__item {
        .ood-content-nav__link {
          padding-bottom: 0.8rem;
        }
      }
    }
  }
}

// The toggle button when the nav appears in the header for mobile/tablet
.ood-content-nav__toggle {
  @include padding(1.2rem 3rem);
  position: relative;
  cursor: pointer;
  color: $su-color-white;
  background-color: transparent;
  border: 0;
  box-shadow: inset 0 0 0 1px $su-color-white;
  font-size: 1.5rem;
  font-weight: $su-font-semi-bold;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  text-align: left;
  width: 100%;
  transition: box-shadow 0.25s ease-in;

  // Icon position
  i {
    position: absolute;
    right: 3rem;
  }

  &:hover,
  &:focus {
    box-shadow: inset 0 0 0 3px $su-color-white;
    outline: none;
  }

  &[aria-expanded="true"] {
    background-color: $su-color-fog-light;
    color: $su-color-black;
  }

  @include grid-media-only('md') {
    font-size: 1.6rem;
  }
}

// Mobile/Tablet styles for the nav
.ood-content-nav {
  // Mobile and tablet styles
  @include grid-media-max('md') {
    @include margin(get-responsive-spacing-value(2, 'mobile') auto null);

    &__menus {
      @include padding(get-responsive-spacing-value(2, 'mobile') null null);
      display: block;
      background-color: $su-color-white;

      &[aria-hidden="true"] {
        display: none;
      }
    }

    &__title {
      @include margin(null 2.4rem);
    }
  }

  @include grid-media-only('xs') {
    width: 90%;
  }

  @include grid-media-between('sm', 'md') {
    width: 40rem;
  }

  // Tablet only styles
  @include grid-media-only('md') {
    @include margin(get-responsive-spacing-value(3, 'tablet') null get-responsive-spacing-value(0, 'tablet'));
  }
}
