@charset "UTF-8";

// Mega Menu styles - including styles of the child components, e.g, Mega Menu Card

.ood-mega-nav {
  display: block;
  z-index: 200;

  // Top level trigger button to open each dropdown panel
  &__trigger {
    display: inline-block;
    cursor: pointer;
    font-weight: $su-font-semi-bold;
    line-height: 1.4;
    background-color: transparent;
    border: 0;

    // The caret indicator
    &::after {
      @include grid-media('lg') {
        @include margin(null null 1px 6px);
        display: inline-block;
        content: " ";
        background: url("#{$su-image-path}/caret-down-black.svg") no-repeat 0 0;
        background-size: 100%;
        position: relative;
        right: 0;
        top: 0;
        height: 11px; // Small svg gets chopped off if use em instead of px
        width: 11px;
        transition: transform 0.3s ease-in;
      }
    }

    &[aria-expanded="true"] {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__link {
    font-size: 1.8rem;
    font-weight: $su-font-semi-bold;
    color: $su-color-black;
    text-decoration: none;
  }

  &__menu {
    &-lv1 {
      @include margin(0 null);
      display: flex;
      flex-direction: column;
      width: 100%;

      // Top level desktop menu items
      @include grid-media('lg') {
        @include padding(null null null 0);
        flex-direction: row;
        flex-wrap: wrap;

        > li {
          > a,
          > button {
            @include fancy-hover($su-color-digital-red, $su-color-black, 'bottom', '10px');
            @include padding (1.6rem 0 null);
            @include margin(0 4rem 0 0);
            display: inline-block;
            color: $su-color-black;
            transition: color 0.3s ease-out;
            font-size: 2.1rem;

            &:hover,
            &:focus {
              color: $su-color-digital-red;
              outline: none;
            }
          }

          > .ood-mega-nav__link--active {
            &::before {
              transform: scaleX(1);
              background-color: $su-color-black-40;
              visibility: visible;
            }
          }
        }

      }
    }

    &-lv2 {
      @include margin(null null 0);

      .ood-mega-nav__item {
        @include margin(null null 1em);

        &:last-of-type {
          @include margin(null null 0);
        }
      }

      .ood-mega-nav__link {
        font-size: 1.9rem;
        font-weight: $su-font-regular;
        line-height: 1.2;

        &:hover,
        &:focus {
          text-decoration: underline;
          color: $su-color-digital-red;
        }

        &::after {
          background-color: $su-color-digital-red;
        }
      }
    }
  }

  &__section {
    // Fake the drop shadow at the top of the drop down panels
    @include linear-gradient(to bottom, rgba(0, 0, 0, 0.08) 0%, transparent 2.6%);
    position: absolute;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transform: scaleY(0);
    transform-origin: center top;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    // On desktop, if aria-hidden of a mega menu section is set to "false", then it is shown
    @include grid-media('lg') {
      &[aria-hidden="false"] {
        display: flex;
        opacity: 1;
        visibility: visible;
        transform: scaleY(1);
      }
    }

    @include grid-media('lg') {
      top: 158px;
      z-index: 220; // When menu wrap to 2nd line make sure dropdown covers up top level links
      box-shadow: rgba(0, 0, 0, 0.12) 0 34px 30px;
    }

    @include grid-media('2xl') {
      top: 159px;
    }

    .ood-cta {
      @include responsive-spacing('margin', 4 null null);
    }
  }

  &__link-group {
    &-heading {
      @include margin(null null 1.4em);
      font-size: 1.7rem;
      letter-spacing: 0.1em;
    }
  }

  &__card {
    &-content {
      @include responsive-spacing('padding', 1 1 2);
      @include add-shade;

      @include grid-media('xl') {
        @include padding(get-responsive-spacing-value(2, 'desktop') get-responsive-spacing-value(2, 'desktop') get-responsive-spacing-value(3, 'desktop'));
      }

      &::after {
        z-index: 1;
      }
    }

    &-content,
    &-headline,
    &-cta {
      position: relative;
    }

    &-headline,
    &-cta {
      z-index: 11;
    }

    &__link {
      img {
        transform: scale(1);
        transition: transform 0.25s ease-in;
      }

      &:hover,
      &:focus {
        .ood-mega-nav__card-content {
          &::after {
            background-color: rgba(0, 0, 0, 0.4);
          }
        }

        .ood-mega-nav__card-cta {
          text-decoration: none;

          &::after {
            background-color: $su-color-white;
          }

          &.su-link--action {
            &::after {
              transform: translateX(0.2em);
            }
          }

          &.su-link--external {
            &::after {
              transform: translate3d(0.15em, -0.15em, 0);
            }
          }
        }

        .ood-mega-nav__card-headline {
          text-decoration: underline;
        }

        img {
          transform: scale(1.03);
        }
      }
    }
  }

  &__toggle {
    border: 0;
    cursor: pointer;

    @include grid-media-max('md') {
      @include fancy-hover($su-color-digital-red, $su-color-black, bottom, 10px);
      @include padding(0 0 2rem);
      @include margin(0);
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      outline: none;
      width: 40px;
      background-color: transparent;
      color: color(h-link, $su-nav-colors);
      font-size: 1.6rem;
      line-height: 0.7;

      &::after {
        @include margin(0 auto);
        display: inline-block;
        width: 30px;
        height: 26px;
        background: url("#{$su-image-path}/hamburger-black.svg") no-repeat 3px 0;
        content: "";
      }

      &[aria-expanded="true"] {
        &::before {
          visibility: visible;
          transform: scaleX(1);
          background-color: color(h-border--expanded, $su-nav-colors);
        }

        &::after {
          width: 22px;
          background: url("#{$su-image-path}/close-black.svg") no-repeat 3px 0;
          background-size: 16px 16px;
        }

        &:hover::before {
          background-color: color(h-border--hover, $su-nav-colors);
        }

        &:active::before {
          background-color: color(h-border--active, $su-nav-colors);
        }
      }

      &:hover,
      &:active,
      &:focus {
        background-color: transparent;
        color: color(h-link, $su-nav-colors);
        box-shadow: none;
      }

      &[aria-expanded="false"] + .su-main-nav__menu-lv1 {
        display: none;
      }

      &[aria-expanded="true"] + .su-main-nav__menu-lv1 {
        position: absolute;
      }

      &--right {
        @include margin(null 0 null auto);
      }
    }

    @include grid-media-only('md') {
      &[aria-expanded="true"]  + .ood-mega-nav__menu-lv1 {
        max-width: 100%;
      }
    }

    @include grid-media('lg') {
      display: none;
    }
  }

  // When js is disabled, submenus is visible when parent trigger is hovered
  &.no-js {
    @include grid-media-max('md') {
      .ood-mega-nav__menu-lv1 {
        @include margin(null null null -30px);
        position: absolute;
        display: none;
        background-color: $su-color-white;
        width: 100vw;
      }

      &:hover,
      &:focus-within {
        .ood-mega-nav__menu-lv1 {
          display: flex;
        }
      }
    }
  }
}
