@charset "UTF-8";

// The menu in the header below the color bar

.ood-submenu {
  &,
  > ul {
    display: flex;
    flex-direction: row;
  }

  > ul {
    @include margin(0 0 0 auto);
    align-items: center;
    list-style-type: none;
    font-size: 1.6rem;

    > li {
      @include margin(null 2.4rem 0 null);

      a {
        text-decoration: none;
        color: $su-color-cool-grey;
        font-weight: $su-font-regular;

        &::after {
          background-color: $su-color-cool-grey;
        }

        &:hover,
        &:focus {
          color: $su-color-bright-red;
          text-decoration: underline;

          &::after {
            background-color: $su-color-bright-red;
          }
        }
      }
    }
  }
}