@charset "UTF-8";

// The menu in the header below the color bar

.ood-header__submenu-container {
  @include margin(null auto);
  position: relative;

  @include grid-media-max('sm') {
    background-color: $su-color-digital-red-dark;
  }

  // Only apply the centered container widths for MD and above
  @include grid-media('md') {
    max-width: calc(100% - #{2 * map-get($su-screen-margins, 'md')});
    width: calc(100% - #{2 * map-get($su-screen-margins, 'md')});
  }

  @include grid-media('lg') {
    max-width: calc(100% - #{2 * map-get($su-screen-margins, 'lg')});
    width: calc(100% - #{2 * map-get($su-screen-margins, 'lg')});
  }

  @include grid-media('xl') {
    max-width: calc(100% - #{2 * map-get($su-screen-margins, 'xl')});
    width: calc(100% - #{2 * map-get($su-screen-margins, 'xl')});
  }

  @include grid-media('2xl') {
    max-width: $su-site-max-width;
    width: calc(100% - 2 * map-get($su-screen-margins, '2xl'));
  }
}

.ood-submenu {
  &,
  &__link-group {
    display: flex;
    flex-direction: row;
  }

  &__link-group {
    @include margin(0 0 0 auto);
    align-items: center;
    list-style-type: none;

    > li {
      @include margin(null 2.4rem 0 null);

      @include grid-media('sm') {
        @include margin(null 2.6rem 0 null);
      }
    }

    a {
      text-decoration: none;
      font-weight: $su-font-regular;
      color: $su-color-white;
      font-size: 1.4rem;

      &::after {
        @include margin(null 0 null null);
        background-color: $su-color-white;
      }

      &:hover,
      &:focus {
        color: $su-color-white;
        text-decoration: underline;

        &::after {
          background-color: $su-color-white;
        }
      }

      // Finetune for 320px to 359px (extra small phones eg, iPhone SE)
      @include grid-media-2xs {
        @include fluid-type(13px, 14px, 320px, 359px);

        &::after  {
          display: none;
        }
      }

      @include grid-media('sm') {
        font-size: 1.6rem;
      }

      @include grid-media-max('sm') {
        display: block;
        line-height: 4rem;
      }

      @include grid-media('md') {
        color: $su-color-cool-grey;

        &::after {
          background-color: $su-color-cool-grey;
        }

        &:hover,
        &:focus {
          color: $su-color-bright-red;

          &::after {
            background-color: $su-color-bright-red;
          }
        }
      }

      @include grid-media-only('md') {
        line-height: 4.3rem;
      }
    }
  }

  .ood-cta__button {
    @include padding(0 2rem 0 2.2rem);

    // Finetune for 320px to 359px (extra small phones eg, iPhone SE)
    @include grid-media-2xs {
      @include fluid-type(13px, 14px, 320px, 359px);
      @include padding(0 1.8rem);

      &::after  {
        display: none;
      }
    }

    @include grid-media-max('sm') {
      line-height: 4rem;
    }

    @include grid-media-only('xs') {
      font-size: 1.4rem;
    }

    @include grid-media-only('sm') {
      font-size: 1.6rem;
    }

    @include grid-media-only('md') {
      font-size: 1.8rem;
    }

    @include grid-media('md') {
      @include padding(1rem 2.2rem 1.3rem 2.6rem); // optical adjustment
    }
  }
}
