@charset "UTF-8";

// temporary - will remove this after we add in Decanter with classes*** @TODO: Remove this file wonce decanter v7 is included

// temporary until we have decanter
// backgrounds
.su-bg-bright-red {
  background-color: $su-color-bright-red;
}

.su-bg-cardinal-red {
  background-color: $su-color-cardinal-red;
}

.su-bg-palo-alto {
  background-color: $su-color-palo-alto; // should be #175E54
}

.su-bg-teal {
  background-color: #00505C;
}

.su-bg-bay {
  background-color: #016895;
}

.su-bg-black {
  background-color: $su-color-black;
}

.su-bg-white {
  background-color: $su-color-white;
}
/* text colors */

.su-text-white {
  color: $su-color-white;
}

.su-text-black {
  color: $su-color-black;
}

.su-text-bright-red {
  color: $su-color-bright-red;
}

.su-text-cardinal-red {
  color: $su-color-cardinal-red;
}

