@charset "UTF-8";

// Mega Menu card inside dropdown panel

.ood-mega-nav__card {
  &-content {
    @include responsive-spacing('padding', 2 2 3);
    @include add-shade;

    @include grid-media-only('lg') {
      @include padding(get-responsive-spacing-value(1, 'desktop') get-responsive-spacing-value(1, 'desktop') get-responsive-spacing-value(2, 'desktop'));
    }

    @include grid-media('xl') {
      @include padding(get-responsive-spacing-value(2, 'desktop') get-responsive-spacing-value(2, 'desktop') get-responsive-spacing-value(3, 'desktop'));
    }

    &::after {
      z-index: 1;
    }
  }

  &-content,
  &-headline,
  &-cta {
    position: relative;
  }

  &-headline,
  &-cta {
    z-index: 11;
  }

  &__link {
    img {
      transform: scale(1);
      transition: transform 0.25s ease-in;
    }

    &:hover,
    &:focus {
      .ood-mega-nav__card-content {
        &::after {
          background-color: rgba(0, 0, 0, 0.4);
        }
      }

      .ood-mega-nav__card-cta {
        text-decoration: none;

        &::after {
          background-color: $su-color-white;
        }

        &.su-link--action {
          &::after {
            transform: translateX(0.2em);
          }
        }

        &.su-link--external {
          &::after {
            transform: translate3d(0.15em, -0.15em, 0);
          }
        }
      }

      .ood-mega-nav__card-headline {
        text-decoration: underline;
      }

      img {
        transform: scale(1.03);
      }
    }
  }

  @include grid-media-max('md') {
    @include padding(2em null null);
  }
}

// Hide card image for mobile/tablet
.ood-mega-nav__card__media {
  @include grid-media-max('md') {
    display: none;
  }
}
