@charset "UTF-8";

// All variables used in cards
// h- prefix means horizontal cards

// Card hover/focus image zoom effect scale
$card-image-zoom: 1.03;

// General card image overhang amount
$card-overhang: 8rem;

// Story Card
$h-story-card-image-width: 40vw;
$h-story-card-overhang: 20vw;

$h-story-card-max-image-width: 60rem;
$h-story-card-max-overhang: 30rem;
