@charset "UTF-8";

// All variables used in cards

// Card hover/focus image zoom effect scale
$ood-card-image-zoom: 1.03;

// Story Card
$ood-horizontal-story-card-image-width: 40vw;
$ood-horizontal-story-card-overhang: 20vw;

$ood-horizontal-story-card-max-image-width: 60rem;
$ood-horizontal-story-card-max-overhang: 30rem;
