@charset "UTF-8";

// Define color variables here

// Decanter colors that will come in the next version, but we need to define here for now:
$su-color-palo-verde-light: #59B3A9;
$su-color-palo-verde-dark: #017E7C;
$su-color-bay: #6FA287;
$su-color-bay-light: #8AB8A7;
$su-color-bay-dark: #417865;
$su-color-palo-alto-light: #2D716F;
$su-color-palo-alto-dark: #014240;
$su-color-lagunita-light: #009AB4;
$su-color-lagunita-dark: #006B81;
$su-color-sky-light: #67AFD2;
$su-color-sky-dark: #016895;
$su-color-digital-red: #B1040E;
$su-color-digital-red-dark: #820000;
$su-color-brick: #651C32;
$su-color-plum-dark: #350D36;
$su-color-fog: #DAD7CB;
$su-color-fog-light: #F4F4F4;
$su-color-archway: #5D4B3C;
$su-color-archway-dark: #2F2424;
$su-color-black-true: #000000;
$su-color-black-10: #EAEAEA;
$su-color-black-40: #ABABA9;
