@charset "UTF-8";

$ood-shadow--shallow: rgba(0, 0, 0, 0.1) 0 3px 6px;
$ood-shadow--medium: 0 10px 14px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.12);

$ood-shadow--shallow-dark: rgba(0, 0, 0, 0.16) 0 3px 6px;
$ood-shadow--medium-dark: 0 10px 14px rgba(0, 0, 0, 0.12), 0 3px 6px rgba(0, 0, 0, 0.16);
