@charset "UTF-8";

table {
  border-collapse: separate;

  th {
    background-color: $su-color-white;
    border: 1px solid $su-color-white;
  }

  td {
    border: 1px solid $su-color-white;
    border-top: 1px solid $su-color-black-40;
    @include responsive-spacing('padding', null 2);
  }

  th {
    &.table-header {
      font-weight: $su-font-bold;
      @include modular-typography(1);
      @include responsive-spacing('padding-top', 3);

      &.table-header--first {
        @include responsive-spacing('padding-top', 0);
      }
    }
  }

  // Specific for the Compare Life Income Gifts table
  &.life-income-gifts {
    @include responsive-spacing('padding', 2);
    background-color: $su-color-white;

    thead {
      th {
        text-align: center;
      }

      td {
        &.empty {
          border: 0;
        }
      }
    }

    tbody {
      td,
      th[scope="row"] {
        @include responsive-spacing('padding', null 0);
        border: 1px solid $su-color-white;
        border-top: 1px solid $su-color-black-40;
      }

      // first columns and header rows
      th[scope="row"] {
        font-weight: $su-font-semi-bold;
        min-width: 20rem;

        @include grid-media('lg') {
          min-width: 30rem;
        }
      }
    }

    .fas.fa-check::before {
      color: $su-color-black;
    }
  }

  tfoot {
    .footnote {
      @include responsive-spacing('padding', 2 0 null);
    }
  }
}
