@charset "UTF-8";

body {
  @include font-smoothing;
}

.su-intro-text {
  @include margin(null auto);
}

main {
  h2 {
    &:not(:first-child) {
      @include margin(1.8em null null);
    }
  }

  h3,
  h4,
  h5,
  h6 {
    &:not(:first-child) {
      @include margin(1.6em null null);
    }
  }

  h1 + h2,
  h2 + h3,
  h3 + h4,
  h4 + h5 {
    &:not(:first-child) {
      @include margin(1em null null);
    }
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    @include margin(null null 0.6em);
    clear: none;
  }
}

// For testing
.su-yvonne {
  display: grid;
  grid-template-areas: "col-1" "col-2";
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 36px;

  > div:first-of-type {
    grid-area: col-1;
  }

  > div:last-of-type {
    grid-area: col-2;
  }
}